<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<h1>Descuento</h1>
<div *ngIf="discount">
    <p class="fs-5">Nombre: <strong> {{discount.id_discount}} </strong></p>
    <p class="fs-5">Porcentaje de descuento: <strong> {{discount.discount_rate}}% </strong></p>
    <p class="fs-5">Inicio del descuento: <strong>{{discount.start_date | date: 'dd/MM/yyyy' }} </strong></p>
    <p class="fs-5">Fin del descuento: <strong> {{discount.end_date | date: 'dd/MM/yyyy' }}</strong></p>
    <p class="fs-5 d-flex align-items-center">Estado: <strong>
            <div class="ms-2" *ngIf="isDiscountActive(discount)">
                <span class="material-symbols-outlined" style="color: rgb(3, 139, 3);">
                    check_circle
                </span> Activo
            </div>
            <div class="ms-2" *ngIf="!isDiscountActive(discount)">
                <span style="color: rgb(202, 0, 0);" class="material-symbols-outlined">
                    cancel
                </span> Inactivo
            </div>
        </strong></p>
    <p class="fs-5">Productos:</p>
    <ul>
        <li><strong> {{discount.product.name}} </strong></li>
    </ul>
</div>