<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="modal-header">
    <h1 class="text-center">Detalle del descuento</h1>
    <button type="button" class="btn-close" aria-label="close" (click)="modalService.dismissAll()"></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Descuento del producto {{discount?.product?.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Porcentaje de descuento: {{ discount?.discountRate}}%</li>
            <li class="list-group-item">Inicio del descuento: {{ discount?.startDate | date: 'dd/MM/yyyy'}}</li>
            <li class="list-group-item">Fin del descuento: {{ discount?.endDate | date: 'dd/MM/yyyy' }}</li>
            <li class="list-group-item" *ngIf="discount != null">
                <p class="d-flex aling-items-center">Estado:
                    <strong>
                        <div class="ms-2 d-flex aling-items-center" *ngIf="isDiscountActive(discount)">
                            <p>Activo
                                <span class="material-symbols-outlined" style="color: rgb(3, 139, 3); font-size: 18px;">
                                    check_circle
                                </span>
                            </p>
                        </div>
                        <div class="ms-2 d-flex aling-items-center" *ngIf="!isDiscountActive(discount)">
                            <p>Inactivo
                                <span style="color: rgb(202, 0, 0); font-size: 18px;"
                                    class="material-symbols-outlined">
                                    cancel
                                </span>
                            </p>
                        </div>
                    </strong>
                </p>
            </li>
        </ul>
    </div>
</div>
