<div class="m-2 p-3">
  <div class="card m-2 p-2">
    <div class="row justify-content-around align-content-around">
      <div class="col-5 align-content-center justify-content-center d-flex flex-column flex-wrap text-center">
        <i class="bi bi-cart h1 pb-0 mb-0"></i>
        <h5 class="pb-0 mb-0 text-muted">Ventas Mensuales</h5>
        <h2 class="pt-1 mt-0">{{totalBills}}</h2>
      </div>
      <div class="vr p-0" style="width: 1px">
      </div>
      <div class="col-5 align-content-center justify-content-center d-flex flex-column flex-wrap text-center">
        <i class="bi bi-calendar-heart h1 pb-0 mb-0"></i>
        <h5 class="pb-0 mb-0 text-muted">Empleado del mes</h5>
        <h2 class="pt-1 mt-0">{{bestSeller}}</h2>
      </div>
    </div>
    <hr class="mx-2">
    <div class="row justify-content-around align-content-around">
      <div class="col-5 align-content-center justify-content-center d-flex flex-column flex-wrap text-center">
        <i class="bi bi-receipt-cutoff h1 pb-0 mb-0"></i>
        <h5 class="pb-0 mb-0 text-muted">Productos vendidos</h5>
        <h2 class="pt-1 mt-0">{{totalProducts}}</h2>
      </div>
      <div class="vr p-0" style="width: 1px">
      </div>
      <div class="col-5 align-content-center justify-content-center d-flex flex-column flex-wrap text-center">
        <i class="bi bi-bag-heart h1 pb-0 mb-0"></i>
        <h5 class="pb-0 mb-0 text-muted">Producto más vendido</h5>
        <h2 class="pt-1 mt-0">{{bestProduct}}</h2>
      </div>
    </div>
  </div>
  <div class="mt-4 row">
    <canvas id="ventas"></canvas>
  </div>
</div>
