<div class="modal-body">
  <form
    #miForm="ngForm"
    class="container h-100 d-flex flex-column justify-content-between"
  >
    <h2 class="d-flex justify-content-center">Agregar Proveedor</h2>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="razon_social" class="form-label">Razon social</label>
        <input
          (keypress)="preventFunc($event)"
          type="text"
          class="form-control"
          name="razonSocial"
          [(ngModel)]="suplier.socialReason"
          #razonInput="ngModel"
          [ngClass]="{ 'border-red': !razonInput.valid && razonInput.touched }"
          required
        />
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="nombre_fantasia" class="form-label">Nombre Fantasia</label>
        <input
          (keypress)="preventFunc($event)"
          type="text"
          class="form-control"
          name="nombre_fantasia"
          [(ngModel)]="suplier.fantasyName"
          #fantasiaInput="ngModel"
          [ngClass]="{
            'border-red': !fantasiaInput.valid && fantasiaInput.touched
          }"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="cuit" class="form-label">Cuit</label>
        <input
          (keypress)="preventFunc($event)"
          type="number"
          class="form-control"
          name="cuit"
          [(ngModel)]="suplier.cuit"
          #cuitInput="ngModel"
          maxlength="11"
          
          [ngClass]="{ 'border-red': !cuitInput.valid && cuitInput.touched }"
          required
        />
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="domicilio" class="form-label">Domicilio</label>
        <input
          (keypress)="preventFunc($event)"
          type="text"
          class="form-control"
          name="domicilio"
          [(ngModel)]="suplier.address"
          #domicilioInput="ngModel"
          [ngClass]="{
            'border-red': !domicilioInput.valid && domicilioInput.touched
          }"
          required
        />
      </div>
    </div>
    <div class="d-flex justify-content-center gap-2">
      <button
        type="submit"
        (click)="closeModal()"
        class="btn btn-secondary my-4"
      >
        Volver
      </button>
      <button
        type="submit"
        class="btn btn-primary my-4"
        (click)="addSupplier()"
      >
        Confirmar
      </button>
    </div>
  </form>
</div>
