/* CSS personalizado para la barra de búsqueda */
.custom-search {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .form-control {
    border: none;
    border-radius: 5px;
  }
  
  .search-button {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-button:focus {
    box-shadow: none;
  }
  

  .custom-input {
    width: 10%;
  }