<div class="form-container">
  <div class="card-container">
    <div class="card-body">
      <h2 class="card-title  text-center">Órdenes de entrega</h2>
      <div class=" input-group mb-3 custom-search" style="max-width: 30%; margin-top: 20px;">
        <input class="form-control col-1" [(ngModel)]="orderId" placeholder="">
        <div class="input-group-append">
          <button class="btn btn-primary search-button" (click)="search()">Buscar</button>
        </div>
      </div>

      <div class="table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Orden de venta</th>
              <th class="text-center">Cliente</th>
              <th class="text-center">Documento</th>
              <th class="text-center">Creación</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of deliveryOrder?.items">
              <td class="text-center">{{ item.sale_order_id }}</td>
              <td class="text-center">{{ item.client.first_name }} {{ item.client.last_name }}</td>
              <td class="text-center">{{ item.client.document_number }}</td>
              <td class="text-center">{{ item.created_at }}</td>
              <td class="text-center" style="font-size: 20px;">
                <i [class]="item.state | stateIconPipe" [ngbTooltip]="getTooltipText(item.state)"></i>
              </td>
              <td class="text-center">

                <div class="dropdown">
                  <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <div class="dropdown-content" (click)="navigateToDetails(item.delivery_order_id)">
                    <a><i class="bi bi-eye" style="cursor: pointer; font-size: 20px; margin-right: 5px;"></i>VER</a>
                  </div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 5%;">
    <ul class="pagination">
      <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPage === 1" (click)="previousPage()">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<fn-spinner *ngIf="loading"></fn-spinner>