body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.input-group, .btn-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.input-group label {
    flex-basis: 180px;
    font-weight: bold;
}

select, input[type="text"], button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input[type="text"] {
    flex-grow: 2;
}

.btn {
    cursor: pointer;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #b22234;
}