/* Estilo para el título del modal */
.modal-header {
   text-align: center;
   padding: 1rem;
 }
 
 .modal-header h1 {
   margin: 0;
   font-size: 1.5rem;
 }
 
 /* Estilo para el botón de cierre del modal */
 .modal-header .btn-close {
   color: #fff;
   font-size: 1.25rem;
 }
 .material-symbols-outlined {
  font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24
}


 /* Estilo para el contenedor de la imagen */
 .image-container {
   display: flex;
   justify-content: center;
 }

 /* Estilo para la imagen del producto */
 .img-responsive {
   max-width: 100%;
   height: auto;
 }

 /* Estilo para el bloque de texto "No posee imagen" */
 .noImageProduct {
   font-size: 1.25rem;
   color: #777;
   margin: 1rem 0;
 }

 /* Estilo para el contenedor de la tarjeta */
 .card {
   border: 1px solid #ccc;
   border-radius: 5px;
   margin: 1rem 0;
 }

 /* Estilo para el título de la tarjeta */
 .card-title {
   font-size: 1.25rem;
   font-weight: bold;
   margin: 1rem 0 0.5rem;
 }

 /* Estilo para el cuerpo de la tarjeta */
 .card-body {
   padding: 1rem;
 }

 /* Estilo para el texto de la tarjeta */
 .card-text {
   font-size: 1rem;
 }

 /* Estilo para los elementos de la lista */
 .list-group-item {
   font-size: 1rem;
   padding: 0.5rem;
   border: none;
 }

 .list-group-item.discount {
   font-weight: bold;
   color: #007BFF;
 }

 .center{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .modal-header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.img-container {
  text-align: center;
  margin-bottom: 20px;
}

.img-fluid img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.no-image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.list-group-item {
  border: none;
  padding: 10px;
  font-size: 16px;
}
@media (max-width: 768px) {
  /* Estilos adicionales para pantallas más pequeñas (hasta 768px de ancho) */
  .modal-header h1 {
    font-size: 1.25rem;
  }

  .modal-header .btn-close {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

