
  
  <body>
    <div class="main-container d-flex">
      <div class="sidebar" id="side_nav">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidenav sidebar" style="width: 280px">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
              <use xlink:href="#tools"></use>
            </svg>
            <span class="fs-4">Clientes</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto list-unstyled">
            <li class="nav-item active">
              <a class="nav-link link-dark d-block" routerLink="/customers/employees">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#vector-pen"></use>
                </svg>
                Empleados
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark d-block" routerLink="/customers/role">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Roles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark d-block" routerLink="/customers/users">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Usuarios
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link link-dark d-block" routerLink="/customers/customers">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Clientes
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link link-dark d-block" (click)="cerrarSesion()">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Cerrar Sesión
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <!-- <div>
        <router-outlet></router-outlet>
      </div> -->
    </div>