<!DOCTYPE html>
<html lang="zxx">

<head>
    <div *ngIf="type == 'Order';else templateName">
        <title>Orden de Venta</title>

    </div>
    <ng-template #templateName>

        <title>Factura</title>
    </ng-template>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">


</head>

<body>


    <div class="invoice-2 invoice-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="invoice-inner clearfix">
                        <div class="invoice-info clearfix" id="invoice_wrapper">
                            <div class="invoice-headar">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="invoice-logo">

                                            <div class="logo">
                                                <img src="" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="invoice-id">
                                            <div class="info">
                                                <div *ngIf="type == 'Order';else templateName">
                                                    <h1 class="inv-header-1">Orden de Venta</h1>
                                                    <p class="mb-1">Orden de Venta:
                                                        <span>#{{saleOrder.idSaleOrder}}</span>
                                                    </p>
                                                    <p class="mb-0">Fecha: <span>{{saleOrder.dateOfIssue |
                                                            date:'short'}}</span></p>
                                                </div>
                                                <div #templateName>
                                                    <h1 class="inv-header-1">Factura</h1>
                                                    <p class="mb-1">Factura: <span>#{{saleOrder.id_bill}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-top">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="invoice-number mb-30">
                                            <h4 class="inv-title-1">Cliente</h4>
                                            <ng-container *ngIf="type == 'Order';else templateName">
                                                <h2 class="name">
                                                    {{saleOrder.nameClient}}</h2>
                                            </ng-container>
                                            <ng-template #templateName>
                                                <h2 class="name">{{saleOrder.first_name + ' '+
                                                    saleOrder.las_name}}</h2>
                                            </ng-template>


                                            <p class="invo-addr-1">
                                                {{saleOrder.telephone}} <br />
                                                {{saleOrder.email}}<br />
                                                {{saleOrder.address}} <br />
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="invoice-number mb-30">

                                            <div class="invoice-number-inner">
                                                <h4 class="inv-title-1">Vendedor</h4>
                                                <h2 class="name">{{saleOrder.nameSeller}} </h2>
                                                <p class="invo-addr-1">

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-center">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped invoice-table">
                                        <thead class="bg-active">
                                            <tr class="tr">
                                                <th>No.</th>
                                                <th class="pl0 text-start">Descripción</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="type == 'Order';else templateNameDetail">

                                                <tr class="tr" *ngFor="let item of saleOrder.details">
                                                    <td>
                                                        <div class="item-desc-1">
                                                            <span>{{item.idProduct}}</span>
                                                        </div>
                                                    </td>
                                                    <td class="pl0">{{item.name}}</td>
                                                    <td class="text-center">${{item.price}}</td>
                                                    <td class="text-center">{{item.quantity}}</td>
                                                    <td class="text-end">${{item.price * item.quantity}}</td>
                                                </tr>
                                            </ng-container>
                                            <ng-template #templateNameDetail>
                                                <tr class="tr" *ngFor="let item of saleOrder.detail_bill">
                                                    <td>
                                                        <div class="item-desc-1">
                                                            <span>{{item.idProduct}}</span>
                                                        </div>
                                                    </td>
                                                    <td class="pl0">{{item.name_product}}</td>
                                                    <td class="text-center">${{item.unitary_price}}</td>
                                                    <td class="text-center">{{item.quantity}}</td>
                                                    <td class="text-end">${{item.unitary_price * item.quantity}}</td>
                                                </tr>
                                            </ng-template>

                                            <tr class="tr2">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">SubTotal</td>
                                                <td class="text-end">${{subtotal}}</td>
                                            </tr>
                                            <tr class="tr2">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">Impuestos</td>
                                                <td class="text-end">${{iva|priceFormat}}</td>
                                            </tr>
                                            <tr class="tr2">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center f-w-600 active-color">Total</td>
                                                <td class="f-w-600 text-end active-color">${{subtotal+iva|priceFormat}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf="type == 'Order'" class="invoice-bottom">
                                <div class="row">
                                    <div class="col-lg-6 col-md-5 col-sm-5">
                                        <div class="payment-method mb-30">
                                            <h3 class="inv-title-1">Vencimiento</h3>
                                            <ul class="payment-method-list-1 text-14">
                                                <li><strong>Fecha: </strong>{{saleOrder.dateOfExpiration| date:'short'
                                                    }}</li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-7" style="text-align: right ;">
                                        <div class="terms-conditions mb-30">
                                            <h3 class="inv-title-1">Estado</h3>
                                            <p>{{saleOrder.stateSaleOrder|translateStates}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="invoice-contact clearfix">
                                <div class="row g-0">
                                    <div class="col-sm-12">
                                        <div class="contact-info clearfix">
                                            <a href="" class="d-flex"><i class="bi bi-telephone"></i> +54 351456734</a>
                                            <a href="" class="d-flex"><i class="bi bi-envelope-at"></i>
                                                info@fernorte.com.ar</a>
                                            <a href="" class="mr-0 d-flex d-none-580"><i class="bi bi-geo-alt"></i> 9 de
                                                Julio 34 Córdoba, Argentina</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-btn-section clearfix d-print-none">
                            <a href="javascript:window.print()" class="btn btn-lg btn-print">
                                <i class="bi bi-printer"></i> Imprimir
                            </a>
                            <a id="invoice_download_btn" class="btn btn-lg btn-download btn-theme" (click)="salir()">
                                 Salir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<router-outlet></router-outlet>