<!-- payment-method.component.html -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="methodForm" (ngSubmit)="saveNewPaymentMethod()">
                <div class="row">
                    <h2>Crear Métodos de Pago</h2>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-2">
                            <label for="paymentMethod" class="form-label">Método de Pago</label>
                            <input formControlName="paymentMethod" type="text" class="form-control" id="paymentMethod"
                                name="paymentMethod" [(ngModel)]="payment.paymentMethod" required>
                            <div
                                *ngIf="methodForm.get('paymentMethod')?.touched && methodForm.get('paymentMethod')?.hasError('required')">
                                El método de pago es obligatorio.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label for="surcharge" class="form-label">Recargo</label>
                            <input formControlName="surcharge" type="number" class="form-control" id="surcharge"
                                name="surcharge" [(ngModel)]="payment.surcharge" required>
                            <div
                                *ngIf="methodForm.get('surcharge')?.touched && methodForm.get('surcharge')?.hasError('required')">
                                El recargo es obligatorio.</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">
                <h2>Lista de Métodos de Pago</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Método de Pago</th>
                            <th>Recargo</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let method of paymentMethods">
                            <td>{{ method.paymentMethod }}</td>
                            <td>{{ method.surcharge }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                    (click)="loadEditarForm(method)"><i class="bi bi-pencil"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar forma de pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="saveNewPaymentMethod()">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-2">
                                <label for="paymentMethod" class="form-label">Método de Pago</label>
                                <input formControlName="paymentMethod" type="text" class="form-control"
                                    id="paymentMethod" [(ngModel)]="editPayment.paymentMethod" required>
                                <div
                                    *ngIf="editForm.get('paymentMethod')!.touched && editForm.get('paymentMethod')!.hasError('required')">
                                    El método de pago es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label for="surcharge" class="form-label">Recargo</label>
                                <input formControlName="surcharge" type="number" class="form-control" id="surcharge"
                                    name="surcharge" [(ngModel)]="editPayment.surcharge" required>
                                <div
                                    *ngIf="editForm.get('surcharge')!.touched && editForm.get('surcharge')!.hasError('required')">
                                    El recargo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                    (click)="updatePaymentMethod(editPayment)">Guardar</button>
            </div>
        </div>
    </div>
</div>
