<!-- payment-method.component.html -->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Método de Pago</th>
                        <th>Recargo</th>
                        <th class="d-flex align-items-center justify-content-center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let method of paymentMethods">
                        <td>{{ method.payment_method }}</td>
                        <td>{{ method.surcharge }}% </td>
                        <td class="d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-sm btn-primary " data-bs-toggle="modal"
                                data-bs-target="#editModal" data-bs-whatever="@mdo" (click)="loadEditarForm(method)">
                                <i class="bi bi-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Editar método de Pago</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="updatePaymentMethod()">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-2">
                                <label for="paymentMethod" class="form-label">Método de Pago</label>
                                <input formControlName="paymentMethod" type="text" class="form-control"
                                id="paymentMethod" [(ngModel)]="editPayment.payment_method" required name="paymentMethod">
                            
                                    <small id="paymentMethod" class="form-text text-muted error-message" *ngIf="       
                                    !editForm.controls['paymentMethod'].valid &&
                                    editForm.controls['paymentMethod'].touched &&
                                    editForm.get('paymentMethod')?.getError('required')">
                                    El método de pago es requerido
                                </small>
                                <!-- <small id="paymentMethod" class="form-text text-muted error-message" *ngIf="       
                                    !editForm.controls['paymentMethod'].valid &&
                                    editForm.controls['paymentMethod'].touched &&
                                    editForm.controls['paymentMethod']?.getError('maxLength')">
                                    El método debe tener máximo 30 caracteres
                                </small>
                                <small id="paymentMethod" class="form-text text-muted error-message" *ngIf="       
                                    !editForm.controls['paymentMethod'].valid &&
                                    editForm.controls['paymentMethod'].touched &&
                                    editForm.controls['paymentMethod']?.getError('minLength')">
                                    El método debe tener mínimo 3 caracteres.
                                </small> -->
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label for="surcharge" class="form-label">Recargo</label>
                                <input formControlName="surcharge" type="number" class="form-control" id="surcharge"
                                    name="surcharge" [(ngModel)]="editPayment.surcharge" required>
                                <small id="surcharge" class="form-text text-muted error-message" *ngIf="       
                                    !editForm.controls['surcharge'].valid &&
                                    editForm.controls['surcharge'].touched &&
                                    editForm.get('surcharge')?.hasError('required')">
                                    El método de pago es requerido
                                </small>
                                <small id="taxValue" class="form-text text-muted error-message" *ngIf="
                                !editForm.controls['surcharge'].valid &&
                                editForm.controls['surcharge'].touched &&
                                editForm.controls['surcharge'].getError('min')
                                ">
                                    El valor minimo es 0
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>