
<div class="modal-header">
	<div class="row"><h4 class="modal-title" id="modal-basic-title" *ngIf="!onlyForRead">Actualizar Empleado</h4>
		<h4 class="modal-title" id="modal-basic-title" *ngIf="onlyForRead">Información de Empleado</h4>
	</div>
	<div class="row">
		<small>Fecha de creación: traer campo created_at</small>	
	</div>



<button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll()"></button>
</div>

<div  class="modal-body">

<div class="modal-body">
<form #employeeForm="ngForm"  (ngSubmit)="onSubmitForm(employeeForm)">

	
	

		<div class="mb-3 d-flex">
			<div class="flex-grow-1 me-2">
				<label for="name">Nombre</label>
				<input required [(ngModel)]="employee.firstName" [disabled]="onlyForRead" type="text" name="name" id="name" class="form-control"/>
			</div>
			<div class="flex-grow-1">
				<label for="lastName">Apellido</label>
				<input required [(ngModel)]="employee.lastName" [disabled]="onlyForRead"  type="text" name="lastName" id="lastName" class="form-control"/>
			</div>
		</div>
	

	

	<div class="mb-3 d-flex">
		<div class="flex-grow-1 me-2">
			<label for="documentType">Tipo de documento</label>
			<select [(ngModel)]="employee.idDocumentType" [disabled]="onlyForRead" name="documentType" id="documentType" class="form-select">
				{{employee.idDocumentType}}
				<option *ngFor="let type of listDocumentType" [value]="type.idDocumentType">
					{{ type.description }}
				</option>
			</select>
		</div>
		<div class="flex-grow-1">
			<label for="documentNumber">Documento</label>
			<input required [(ngModel)]="employee.idDocumentNumber" [disabled]="onlyForRead"  type="text" name="documentNumber" id="documentNumber" class="form-control" />
		</div>
	</div>

	

	<div class="mb-3">
		<label for="dateOfBirth">Fecha de nacimiento</label>
		<div class="input-group">
			<input
			[disabled]="onlyForRead"
			required
			[(ngModel)]="dataPickerBirth"
			(ngModelChange)="onBirthDateChange($event)"
			id="dateOfBirth"
			class="form-control"
			placeholder="dd/mm/yyyy"
			name="dp"
			ngbDatepicker
			#dp="ngbDatepicker"
			[minDate]="maxDate" [maxDate]="minDate"
		  />
			<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button><br>
		</div>
	</div>

	<div class="flex-grow-1">
		<label for="personalEmail">Email Personal</label>
		<input [(ngModel)]="employee.personalEmail" 
		[disabled]="onlyForRead"
			   type="personalEmail" 
			   name="personalEmail" 
			   id="personalEmail" 
			   class="form-control" 
		/>
	  </div>

	<div class="my-3 d-flex">
		<div class="flex-grow-1 me-2">
		  <label for="address">Domicilio</label>
		  <input [(ngModel)]="employee.address" [disabled]="onlyForRead" type="text" name="address" id="address" class="form-control" />
		</div>
		<div class="flex-grow-1 ">
		  <label for="phoneNumber">Número de teléfono</label>
		  <input [(ngModel)]="employee.phoneNumber" [disabled]="onlyForRead" type="text" name="phoneNumber" id="phoneNumber" class="form-control" />
		</div>
	  </div>

</form>
</div>
<div class="modal-footer">
<button  *ngIf="!onlyForRead" type="submit" class="btn btn-outline-secondary"  (click)="showCancelConfirmation()">Cancelar</button>

<button *ngIf="onlyForRead"  type="submit" class="btn btn-outline-secondary"  (click)="modalService.dismissAll()">Cancelar</button>

<button  *ngIf="!onlyForRead" type="submit" class="btn btn-outline-primary"  (click)="showConfirmation(employeeForm)">Actualizar</button>
</div>
</div>


