<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Factura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">


</head>
<body>


<div class="invoice-2 invoice-content">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-logo">
                                        
                                        <div class="logo">
                                            <img src="" alt="">
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-id">
                                        <div class="info">
                                            <h1 class="inv-header-1">Factura</h1>
                                            <p class="mb-1">Factura: <span>#{{bill.idBill}}</span></p>
                                            <p class="mb-0">Fecha: <span>{{bill.createdDate}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <h4 class="inv-title-1">Cliente</h4>
                                        <h2 class="name">{{bill.firstNameClient}} {{bill.lastNameClient}}</h2>
                                        <p class="invo-addr-1">
                                            {{bill.telephone}} <br/>
                                                {{bill.email}}<br/>
                                            {{bill.address}} <br/>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <div class="invoice-number-inner">
                                            <h4 class="inv-title-1">Vendedor</h4>
                                            <h2 class="name">{{bill.firstNameSeller}} {{bill.lastNameSeller}} </h2>
                                            <p class="invo-addr-1">
                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-center">
                            <div class="table-responsive">
                                <table class="table mb-0 table-striped invoice-table">
                                    <thead class="bg-active">
                                    <tr class="tr">
                                        <th>No.</th>
                                        <th class="pl0 text-start">Descripción</th>
                                        <th class="text-center">Precio</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr class="tr" *ngFor="let item of bill.detailBill">
                                        <td>
                                            <div class="item-desc-1">
                                                <span>{{item.id}}</span>
                                            </div>
                                        </td>
                                        <td class="pl0">{{item.nameProduct}}</td>
                                        <td class="text-center">${{item.unitaryPrice}}</td>
                                        <td class="text-center">{{item.quantity}}</td>
                                        <td class="text-end">${{item.unitaryPrice * item.quantity}}</td>
                                    </tr>
                                    
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">SubTotal</td>
                                        <td class="text-end">${{subtotal}}</td>
                                    </tr>
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">Impuestos</td>
                                        <td class="text-end">${{iva}}</td>
                                    </tr>
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center f-w-600 active-color">Total</td>
                                        <td class="f-w-600 text-end active-color">${{subtotal+iva}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice-bottom">
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-5">
                                    <div class="payment-method mb-30">
                                        <h3 class="inv-title-1">Metodo de Pago</h3>
                                        <ul class="payment-method-list-1 text-14">
                                            <li><strong></strong>{{bill.payment.paymenMetod.paymentMethod}}</li>
                                        
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="invoice-contact clearfix">
                            <div class="row g-0">
                                <div class="col-sm-12">
                                    <div class="contact-info clearfix">
                                        <a href="" class="d-flex"><i class="bi bi-telephone"></i> +54 351456734</a>
                                        <a href="" class="d-flex"><i class="bi bi-envelope-at"></i> info@fernorte.com.ar</a>
                                        <a href="" class="mr-0 d-flex d-none-580"><i class="bi bi-geo-alt"></i> 9 de Julio 34 Córdoba, Argentina</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-btn-section clearfix d-print-none">
                        <a href="javascript:window.print()" class="btn btn-lg btn-print">
                            <i class="bi bi-printer"></i> Imprimir
                        </a>
                        <a id="invoice_download_btn" class="btn btn-lg btn-download btn-theme">
                            <i class="bi bi-download"></i> Descargar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

