<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
  <h1 class="h1">Clientes</h1>
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Número de documento</th>
        <th scope="col" class="text-center">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customerList">
        <td *ngIf="c.first_name != '' && c.last_name != '' " class="text-center">{{ c.first_name }} {{ c.last_name }}</td>
        <td *ngIf="c.first_name == '' || c.last_name == '' " class="text-center">{{ c.company_name }}</td>
        <td class="text-center">{{ c.document_number }}</td>
        <td class="text-center">{{ c.email }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="dropdown-content">
              <a (click)="onOptionClick('info')">Más Información</a>
              <a (click)="openUpdateCustomerModal(c)">Actualizar</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br>