<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
  <h1>Clientes</h1>
  <hr>
  <div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <label class="mx-2">Agregar Cliente</label>
      <button class="btn btn-success" (click)="openNewCustomerModal()">
        <i class="bi bi-plus"></i> 
      </button>  
    </div>
  </div>
  <h4 class="h4">Filtrar:</h4>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" id="validationServer01" placeholder="Nombre, Apellido, Documento"
      (input)="filterName($event, true)">
    </div>

    <div class="col-md-4">      
      <select (change)="categoryChange($event, true)" class="form-select form-control-sm" id="medallas">
        <option value="todos">Categoría de Cliente</option>
        <option value="ORO">Oro</option>
        <option value="PLATA">Plata</option>
        <option value="BRONCE">Bronce</option>
    </select>
    </div>

    <div class="col-md-4">
      <select (change)="customerTypeChange($event, true)" id="medallas" class="form-select form-control-sm" id="medallas">
        <option value="todos">Tipo de Cliente</option>
        <option value="Fisica">Fisica</option>
        <option value="Juridica">Juridica</option>
        
    </select>
    </div>
    <br>
  <button (click)="downloadPDF()" class="col-md-4">Boton magico generador de pdf</button>
  <br>
    <button class="col-md-4" (click)="downloadCSV()" >Boton generador de excel</button>
  <br>  
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col" class="text-center">Nombre/Razón Social</th>
        <th scope="col" class="text-center">Número de Documento</th>
        <th scope="col" class="text-center">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customerList">
        <td *ngIf="c.first_name != '' && c.last_name != '' " class="text-center">{{ c.first_name }} {{ c.last_name }}</td>
        <td *ngIf="c.first_name == '' || c.last_name == '' " class="text-center">{{ c.company_name }}</td>
        <td class="text-center">{{ c.document_number }}</td>
        <td class="text-center">{{ c.email }}</td>
        <td class="text-center">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="dropdown-content">
              <a (click)="onOptionClick(c)">Más Información</a>
              <a (click)="openUpdateCustomerModal(c)">Actualizar</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br>