<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
  <h1>Clientes</h1>
  <hr>
  <div>
    <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <label class="mx-2">Agregar Cliente</label>
        <button class="btn btn-success" (click)="openNewCustomerModal()">
          <i class="bi bi-plus"></i> 
        </button>  
      </div>
    </div>
    <h4 class="h4">Filtrar:</h4>
    <div class="row">
      <div class="col-md-4">
        <input type="text" class="form-control" id="validationServer01" placeholder="Nombre, Apellido, Documento"
        (input)="filterName($event, true)">
      </div>

      <div class="col-md-4">      
        <select (change)="categoryChange($event, true)" class="form-select form-control-sm" id="medallas">
          <option value="todos">Categoría de Cliente</option>
          <option value="ORO">Oro</option>
          <option value="PLATA">Plata</option>
          <option value="BRONCE">Bronce</option>
        </select>
      </div>

      <div class="col-md-4">
        <select (change)="customerTypeChange($event, true)" id="medallas" class="form-select form-control-sm" id="medallas">
          <option value="todos">Tipo de Cliente</option>
          <option value="Fisica">Fisica</option>
          <option value="Juridica">Juridica</option>  
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2"><button (click)="downloadPDF()" class="btn btn-success">Generar pdf</button></div>
      <div class="col-2"><button (click)="downloadCSV()" class="btn btn-success">Generar excel</button></div>
    </div>
  </div>
  <br>
  <table class="table container">
    <thead>
      <tr>
        <th scope="col" class="text-center col-2">Nombre/Razón Social</th>
        <th scope="col" class="text-center col-2">Documento</th>
        <th scope="col" class="text-center col-2">Categoría</th>
        <th scope="col" class="text-left col-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of pagedCustomer">
        <td *ngIf="c.first_name != '' && c.last_name != '' " class="text-center col-2">{{ c.first_name }} {{ c.last_name }}</td>
        <td *ngIf="c.first_name == '' || c.last_name == '' " class="text-center col-2">{{ c.company_name }}</td>
        <td class="text-center col-2">{{ c.document_number }}</td>
        <td class="text-center col-2">{{ c.customer_category == 'Ninguna' ? '-' : c.customer_category }}</td>
        <td class="text-left col-2">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="dropdown-content">
              <a (click)="openMoreInformationModal(c)">Más Información</a>
              <a (click)="openUpdateCustomerModal(c)">Actualizar</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="my-pagination">
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="pageChanged(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
        <a class="page-link" (click)="pageChanged(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="pageChanged(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<br>

<fn-create-customer *ngIf="isCreateCustomerModalOpen"></fn-create-customer>