  <div class="modal-body">
    <form
      #miForm="ngForm"
      class="container h-100 d-flex flex-column justify-content-between"
    >
      <h2 class="d-flex justify-content-center">Agregar Fechas</h2>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id Supplier</th>
            <th scope="col">Id Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Agregar Fechas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProductOriginalToBooking">
            <th scope="row">1</th>
            <td>{{item.idSupplier}}</td>
            <td>{{item.idProduct}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <input type="checkbox" name="add" id="add" [(ngModel)]="item.isSelected">
            </td>
          </tr>
        </tbody>
      </table>
    
      <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-secondary my-4" (click)="closeModal()"> Volver </button>        

        <button type="submit" class="btn btn-primary my-4"  (click)="addSelected()" [swal]="['Transaccion Completada!', 'Producto Seleccionado!', 'success']" >
            Agregar Fecha
          </button>
      </div>
    </form>
  </div>
  