<!-- 
<div class="container-flex p-3" id="homeSales">
    <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <label class="btn btn-secondary active"><b>Vendedor : {{userName}}  </b> </label>
            <button type="button" class="btn btn-secondary">cerrar sesión</button>
        </div>        
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="d-grid gap-2 mx-auto" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    Ventas
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="onShowSalesOrders()">Generar Presupuesto</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowSalesOrders()">Generar Orden de Venta</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowSalesOrdersList()">Mostrar Ordenes de Venta</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowSalesOrdersSearch()">Buscar Ordenes de Venta</a></li>
                    <li><a class="dropdown-item" href="#">Cancelar Orden de Venta</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-grid gap-2 mx-auto" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    Facturación
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="onShowBilling()">Generar Factura</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowBilling()">Emitir Factura</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowBilling()">Mostrar Facturas</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowBilling()">Buscar Facturas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-grid gap-2 mx-auto" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    Pagos
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="onShowPayment()">Crear Pago</a></li>
                    <li><a class="dropdown-item" href="#">Buscar Pago</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-grid gap-2 mx-auto" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    Metodos de Pago
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="onShowPaymentMethod()">Crear Metodo de Pago</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowPaymentMethod()">Modificar Metodo de pago</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onShowPaymentMethod()">Buscar Metodo de Pago</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<div>
    <fn-sale-order *ngIf="showSalesOrder"></fn-sale-order>
    <fn-sale-order-search-handler *ngIf="showSalesOrderSearch"></fn-sale-order-search-handler>
    <fn-billing *ngIf="showBilling"></fn-billing>
    <fn-payment-method *ngIf="showPaymentMethod"></fn-payment-method>   
    <fn-payment-method></fn-payment-method>   
    <fn-create-payment *ngIf="showPayment"></fn-create-payment>    
    <fn-sale-order-search-list *ngIf="showSalesOrdersList"></fn-sale-order-search-list>
</div>






