<div class="container">
    <div>
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Filtros
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Seleccione sus filtros
              <form #getBillsForm="ngForm" (ngSubmit)="onSubmit(getBillsForm)">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Documento de cliente</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="doc"
                #docControl="ngModel"
                [(ngModel)]="doc">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Número de factura</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"
                  name="idBill"
                #idBillControl="ngModel"
                [(ngModel)]="idBill">
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="mb-3 col">
                      <p>Desde</p>
                      <input type="date" class="form-control" id="fromDate" 
                      placeholder=""
                      name="fromDate"
                      required
                      name="fromDate"
                    #fromDateControl="ngModel"
                    [(ngModel)]="fromDate">
                    </div>
                    <div class="mb-3 col">
                      <p>Hasta</p>
                      <input type="date" class="form-control" id="toDate" 
                      placeholder=""
                      name="toDate"
                      required
                      name="toDate"
                    #toDateControl="ngModel"
                    [(ngModel)]="toDate">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aplicar</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Cliente</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Fecha</th>
              <th scope="col">Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of billListOk">
              <th scope="row">{{item.idSaleOrder}}</th>
              <td>{{item.idClient}}</td>
              <td>{{item.idSeller}}</td>
              <td>{{item.dateOfIssue}}</td>
              <td>{{item.stateSaleOrder}}</td>
              <td>
                  <ul>
                      <li *ngFor="let prod of item.details">
                          {{prod.idProduct}}
                      </li>
                  </ul>
              </td>
            </tr>
          </tbody>
        </table>
  </div> 
