
<div class="container-fluid">
    <!-- Sección de Encabezado -->
    <div class="row mb-4">
      <div class="col-7 purchase-header">
        <div class="purchase-title"><h1>Orden de Compra</h1></div>
      </div>
      <div id="date" class="col-5 purchase-header">
        <div class="purchase-date">
          <h5 class="mb-3">Fecha: <span class="date-text">{{ currentDate | date:'dd/MM/yyyy' }}</span></h5>
          <h5 >Orden N°: <span class="date-text">nueva</span></h5>
        </div>
      </div>
    </div>
    <!-- Información del Proveedor y Empleado -->
    <br>
    <br>
    <div class="mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="supplierInfo mr-4">
            <h4 class="mb-4">Información del Proveedor</h4>
            <div class="info-line">
              <p><strong>Nombre del Proveedor:</strong></p>
              <p>{{ supplier.socialReason }}</p>
            </div>
            <div class="info-line">
              <p><strong>Nombre de Fantasía:</strong></p>
              <p>{{ supplier.fantasyName }}</p>
            </div>
            <div class="info-line">
              <p><strong>CUIT:</strong></p>
              <p>{{ supplier.cuit }}</p>
            </div>
            <div class="info-line">
              <p><strong>Dirección:</strong></p>
              <p>{{ supplier.adress }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="employeeInfo">
            <h4 class="mb-4">Información del Empleado</h4>
            <div class="info-line">
              <p><strong>Nombre del Empleado:</strong></p>
              <p>John Doe</p>
            </div>
            <div class="info-line">
              <p><strong>Dirección del Empleado:</strong></p>
              <p>123 Main St, Ciudad</p>
            </div>
            <div class="info-line">
              <p><strong>Número de Empleado:</strong></p>
              <p>1001</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Detalles de la Compra -->
    <h3 class="mt-5">Detalles de la Compra</h3>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cardProducts; let i = index">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-3 row">
      <div class="col-md-6 offset-md-6 text-right">
        <button class="btn btn-primary">Editar Detalles de la Compra</button>
      </div>
    </div>
    <!-- Detalles de Pago -->
    <div class="row mt-3">
      <div class="col-12">
        <button class="btn btn-success full-width">Finalizar Orden de Compra</button>
      </div>
    </div>
  </div>