<div class="container">
    <br>
    <h4 class="title" id="NewMethodModalLabel">Registrar nuevo impuesto</h4>
    <br>
    <form [formGroup]="taxForm" (ngSubmit)="saveNewTax()">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="taxType" class="form-label">Impuesto</label>
                    <select class="form-control" aria-label="Default select example" name="taxType"
                        formControlName="taxType" id="taxType" aria-placeholder="Seleccione...">
                        <option value="" disabled selected hidden>Seleccione...</option>
                        <option *ngFor="let taxType of taxTypeList">{{taxType}}</option>
                    </select>
                    <small id="taxType" class="form-text text-muted error-message" *ngIf="       
                        !taxForm.controls['taxType'].valid &&
                        taxForm.controls['taxType'].touched &&
                        taxForm.get('taxType')?.hasError('required')">
                        El valor del impuesto es requerido
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-2">
                    <label for="taxValue" class="form-label">Recargo %</label>
                    <input formControlName="taxValue" type="number" class="form-control" id="taxValue" name="taxValue"
                        required>
                    <small id="taxValue" class="form-text text-muted error-message" *ngIf="       
                        !taxForm.controls['taxValue'].valid &&
                        taxForm.controls['taxValue'].touched &&
                        taxForm.get('taxValue')?.hasError('required')">
                        El valor del impuesto es requerido
                    </small>
                    <small id="taxValue" class="form-text text-muted error-message" *ngIf="
                         !taxForm.controls['taxValue'].valid &&
                         taxForm.controls['taxValue'].touched &&
                         taxForm.controls['taxValue'].getError('min')
                       ">
                        El valor minimo es 0
                    </small>
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-end mt-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary"
                (click)="saveNewTax(); taxForm.markAllAsTouched()">Guardar</button>
        </div>
    </div>
</div>