<spinner *ngIf="isLoading"></spinner>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="container mt-5">
    <button class="btn btn-primary" (click)="openCreateModal()">Agregar</button>
    <form [formGroup]="filterCategory">
        <div class="form-group col-md-6 mb-1">
            <input type="text" class="form-control" placeholder="Filtrar por nombre" formControlName="name">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="showDeleted" formControlName="isDeleted">
            <label class="form-check-label" for="showDeleted">
               Inactivos
            </label>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th class="nameColumn" (click)="sortTable('name')">
                    Nombre
                    <i class="bi bi-arrow-up-down"
                      [ngClass]="{'bi-arrow-down': sortOrder === 'asc', 'bi-arrow-up': sortOrder === 'desc'}"></i>
                  </th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of listCategories">
                <td>{{category.name}}</td>
                <td>
                    <p style="max-width: 25ch; word-wrap: break-word;">{{category.description}}</p>
                </td>
                <td>

                    <strong>
                        <div class="ms-2" *ngIf="!category.isDeleted">
                            <span class="material-symbols-outlined" style="color: rgb(3, 139, 3);">
                                check_circle
                            </span>
                        </div>
                        <div class="ms-2" *ngIf="category.isDeleted">
                            <span style="color: rgb(202, 0, 0);" class="material-symbols-outlined">
                                cancel
                            </span>
                        </div>
                    </strong>
                </td>
                <td>
                    <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm btnDropdown btn-light" ngbDropdownToggle>
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem type="button" (click)="openEditModal(category)">Editar</button>
                            <button ngbDropdownItem type="submit" (click)="openDeleteModal(category)" *ngIf="!category.isDeleted">Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <ngb-pagination class="d-flex justify-content-center" [(page)]="currentPage" [pageSize]="itemsPerPage"
        [collectionSize]="totalItems" [maxSize]="5" [rotate]="true" (pageChange)="handlePagination($event)">
    </ngb-pagination>
</div>