<spinner *ngIf="isLoading"></spinner>

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container mt-4">
    <button class="btn btn-primary" (click)="openCreateModal()">Agregar Categorias</button>
    <table class="table">
        <thead>
          <tr>
            <th>Nombre de Categoria</th>
            <th>Descripcion</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of listCategories">
              <td>{{category.name}}</td>
              <td>{{category.description}}</td>
             <td>
                    <button type="button" class="btn btn-primary mx-2" (click)="openEditModal(category)">Editar</button>
                    <button type="submit" class="btn btn-danger mx-2" (click)="openDeleteModal(category)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="5" [maxSize]="5" [rotate]="true">
    </ngb-pagination>
</div>

