<spinner *ngIf="isLoading"></spinner>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container col-12">
    <button class="btn btn-primary" (click)="openCreateModal()">Agregar</button>
</div>
<div class="container mt-4">
    <form [formGroup]="filterCategories">
        <div class="row mt-3 mb-3">
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Filtrar por nombre" formControlName="name">
                </div>
              </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="showDeleted" formControlName="isDeleted">
            <label class="form-check-label" for="showDeleted">
              Mostrar categorias eliminados
            </label>
          </div>
    </form>
</div>
<div class="container mt-4">    
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de Categoria</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of listCategories">
                <td>{{category.name}}</td>
                <td>
                  <textarea style="border: none; width: 100%; resize: none; outline: none;" readonly>{{category.description}}</textarea>
                </td>
                <td>
                    <strong>
                      <div class="ms-2" *ngIf="!category.is_deleted">
                        <span class="material-symbols-outlined" style="color: rgb(3, 139, 3);">
                          check_circle
                        </span>
                      </div>
                      <div class="ms-2" *ngIf="category.is_deleted">
                        <span style="color: rgb(202, 0, 0);" class="material-symbols-outlined">
                          cancel
                        </span>
                      </div>
                    </strong>
                  </td>
                <td>
                    <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm btn-dropdown btn-light" ngbDropdownToggle>
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem type="button" (click)="openEditModal(category)">Editar</button>
                            <button ngbDropdownItem type="submit" (click)="openDeleteModal(category)">Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <ngb-pagination class="d-flex justify-content-center" [(page)]="currentPage" [pageSize]="itemsPerPage"
      [collectionSize]="totalItems" [maxSize]="5" [rotate]="true" (pageChange)="handlePagination($event)">
    </ngb-pagination>
  </div>