<label>  ID:
	<input type="number" [(ngModel)]=idEmployee>
			<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Actualizar Empleado</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll()"></button>
		</div>
	
	<div  class="modal-body">

		<div *ngIf="idEmployee!==0" class="modal-body">
			<form #employeeForm="ngForm"  (ngSubmit)="onSubmitForm(employeeForm)">
	
				
				
			
					<div class="mb-3 d-flex">
						<div class="flex-grow-1 me-2">
							<label for="name">Nombre</label>
							<input required [(ngModel)]="employee.firstName" type="text" name="name" id="name" class="form-control"/>
						</div>
						<div class="flex-grow-1">
							<label for="lastName">Apellido</label>
							<input required [(ngModel)]="employee.lastName" type="text" name="lastName" id="lastName" class="form-control"/>
						</div>
					</div>
				
	
				
	
				<div class="mb-3 d-flex">
					<div class="flex-grow-1 me-2">
						<label for="documentType">Tipo de documento</label>
						<select [(ngModel)]="employee.idDocumentType" name="documentType" id="documentType" class="form-select">
							<option *ngFor="let type of documentTypes" [value]="type.value" [selected]="employee.idDocumentType === type.value">
								{{ type.label }}
							  </option>							
						</select>
					</div>
					<div class="flex-grow-1">
						<label for="documentNumber">Documento</label>
						<input required [(ngModel)]="employee.idDocumentNumber"  type="text" name="documentNumber" id="documentNumber" class="form-control" />
					</div>
				</div>
	
				
	
				<div class="mb-3">
					<label for="dateOfBirth">Fecha de nacimiento</label>
					<div class="input-group">
						<input
						required
						[(ngModel)]="employee.birthDate"
						(ngModelChange)="onBirthDateChange($event)"
						id="dateOfBirth"
						class="form-control"
						placeholder="dd/mm/yyyy"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
						[minDate]="maxDate" [maxDate]="minDate"
					  />
						<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button><br>
					</div>
				</div>
	
				<div class="flex-grow-1">
					<label for="personalEmail">Email Personal</label>
					<input [(ngModel)]="employee.personalEmail" 
						   type="personalEmail" 
						   name="personalEmail" 
						   id="personalEmail" 
						   class="form-control" 
					/>
				  </div>
	
				<div class="mb-3 d-flex">
					<div class="flex-grow-1 me-2">
					  <label for="address">Domicilio</label>
					  <input [(ngModel)]="employee.address" type="text" name="address" id="address" class="form-control" />
					</div>
					<div class="flex-grow-1">
					  <label for="phoneNumber">Número de teléfono</label>
					  <input [(ngModel)]="employee.phoneNumber" type="text" name="phoneNumber" id="phoneNumber" class="form-control" />
					</div>
				  </div>
	
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-outline-dark"  (click)="onSubmit(employeeForm)">Actualizar</button>
		</div>
	</div>
	
	
	<!-- <a (click)="open(content)" class="dropdown-link">Actualizar</a>
	 -->
	