<ng-template #updateEmployee let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Actualizar Empleado</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form #employeeForm="ngForm" (ngSubmit)="onSubmitForm(employeeForm)">


			<div class="mb-3 d-flex">
				<div class="flex-grow-1 me-2">
					<label for="name">Nombre</label>
					<input required [(ngModel)]="employee.firstName" type="text" name="name" id="name"
						class="form-control" />
				</div>
				<div class="flex-grow-1">
					<label for="lastName">Apellido</label>
					<input required [(ngModel)]="employee.lastName" type="text" name="lastName" id="lastName"
						class="form-control" />
				</div>
			</div>




			<div class="mb-3 d-flex">
				<div class="flex-grow-1 me-2">
					<label for="documentType">Tipo de documento</label>
					<select [(ngModel)]="employee.documentType" name="documentType" id="documentType" class="form-select">
						<option value="1" [selected]="employee.documentType === 1">DNI</option>
						<option value="2" [selected]="employee.documentType === 2">Pasaporte</option>
						<option value="3" [selected]="employee.documentType === 3">CUIT</option>
						<option value="4" [selected]="employee.documentType === 4">LC</option>
						<option value="5" [selected]="employee.documentType === 5">LE</option>
					  </select>
					  
				</div>
				<div class="flex-grow-1">
					<label for="documentNumber">Documento</label>
					<input required [(ngModel)]="employee.documentNumber" type="text" name="documentNumber"
						id="documentNumber" class="form-control" />
				</div>
			</div>



			<div class="mb-3">
				<label for="dateOfBirth">Fecha de nacimiento</label>
				<div class="input-group">
					<input required [(ngModel)]="employee.birthDate" (ngModelChange)="onBirthDateChange($event)"
						id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
						#dp="ngbDatepicker" />
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
						type="button"></button><br>
				</div>
			</div>

			<div class="flex-grow-1">
				<label for="email">Email Personal</label>
				<input [(ngModel)]="employee.personalEmail" type="email" name="email" id="email" class="form-control" />
			</div>

			<div class="mb-3 d-flex">
				<div class="flex-grow-1 me-2">
					<label for="address">Domicilio</label>
					<input [(ngModel)]="employee.address" type="text" name="address" id="address"
						class="form-control" />
				</div>
				<div class="flex-grow-1">
					<label for="phoneNumber">Número de teléfono</label>
					<input [(ngModel)]="employee.phoneNumber" type="text" name="phoneNumber" id="phoneNumber"
						class="form-control" />
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid"
			(click)="modal.close(employeeForm)">Actualizar</button>
	</div>
</ng-template>



<hr />