<div class="container">
  <!-- Alerta en caso de éxito o error -->
  <div *ngIf="showMessage" [ngClass]="messageClass" class="alert mb-3" role="alert">
    <strong>{{ message }}</strong>
  </div>
  <div class="modal-header">
    <h3>{{isEdit?'Editar categoria':'Nueva categoria'}} </h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="ngbModal.dismissAll()"></button>
</div>

  <div class="modal-body">
  <form [formGroup]="formGroup">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="inputCategoryName" class="form-label">Nombre</label>
          <input [class.is-invalid]="controlName.invalid && (controlName.dirty || controlName.touched)" type="text" class="form-control" id="inputCategoryName" formControlName="name">
        </div>
        <div class="mb-3 col-md-6">
          <label for="inputCategoryDescription" class="form-label">Descripción</label>
          <textarea [class.is-invalid]="controlDescription.invalid && (controlDescription.dirty || controlDescription.touched)" class="form-control" id="inputCategoryDescription" formControlName="description"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="offset-6 col-md-6 col-lg-6 text-end">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </form>
  </div>

</div>

<spinner *ngIf="isLoading"></spinner>