<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- Elementos del menú -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLink="/catalog/products/list" [routerLinkActive]="'active'">
                <a class="nav-link" >Productos</a>
            </li>
            <li class="nav-item" routerLink="/catalog/categories/list" [routerLinkActive]="'active'">
                <a class="nav-link" >Categorias</a>
            </li>
            <li class="nav-item" routerLink="/catalog/discount/list" [routerLinkActive]="'active'">
                <a class="nav-link" >Descuentos</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
