body {
    font-family: sans-serif;
}

.container {
    margin-top: 50px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #f5f5f5;
    z-index: 100;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.sidebar a:hover {
    background-color: #e5e5e5;
}

.sidebar a:active {
    background-color: #e5e5e5;
}

.content {
    width: 100%;
    margin-left: 200px;
}

.sidebar .nav-link.dropdown-toggle {
    cursor: pointer;
    border-radius: 0.25rem;
    border-color: #e5e5e5;
    border-width: 1px;
    padding: 5px 10px;
}

.sidebar .nav-link.dropdown-toggle:hover {
    background-color: #f5f5f5;
}

.sidebar .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0.25rem;
    border-color: #e5e5e5;
    border-width: 1px;
    background-color: #fff;
}

.sidebar .dropdown-item {
    padding: 5px 10px;
    font-size: 14px;
}

.router-sidebar{
    margin-left: 280px;
    width: 100%;
    padding: 25px;
}

.nav-link.active{
    background-color: #e5e5e5 !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-move{
    display: none;
}

@media (max-width:850px) {
    .icon-move{
        position: absolute;
        right: 0;
        cursor: pointer;
        display: inline;
    }
    .sidenav .sidebar{
        position: fixed;
        left: -250px !important;
    }
    .sidebar{
        position: fixed;
        left: -250px !important;
    }
    .sidebar.active{
        position: fixed;
        left: 0 !important;
    }
    .router-sidebar{
        margin-left: 0;
    }
    .router-sidebar.active{
        margin-left: 280px;
    }
}