<div class="container-fluid">
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidenav sidebar" style="width: 280px">
                <a href="/catalog"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <i class="bi bi-tools"></i>
                    <span class="fs-4">Catálogo</span>
                </a>
                <hr />
                <ul class="nav nav-pills flex-column mb-auto list-unstyled">
                    <li class="nav-item active">
                        <a class="nav-link link-dark d-block" routerLink="/products/list" [routerLinkActive]="'active'">
                            <i class="bi bi-box-seam"></i>
                            Productos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark d-block" routerLink="/categories/list"
                            [routerLinkActive]="'active'">
                            <i class="bi bi-ui-checks-grid"></i>
                            Categorías
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark d-block" routerLink="/discount/list" [routerLinkActive]="'active'">
                            <i class="bi bi-percent"></i>
                            Descuentos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark d-block"  (click)="toggleCollapseReports()">
                            <i class="bi bi-speedometer2"></i>
                            Reportes
                            <span class="dropdown-icons">
                                <i class="bi bi-caret-down-fill" *ngIf="!isCollapsedReports"></i>
                                <i class="bi bi-caret-up-fill"  *ngIf="isCollapsedReports"></i>
                            </span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-auto list-unstyled sub-nav" [ngbCollapse]="!isCollapsedReports">
                            <li class="nav-item">
                                <a class="nav-link link-dark d-block" routerLink="/reporting/price-history"
                                    [routerLinkActive]="'active'">
                                    <i class="bi bi-coin"></i>
                                    Precios históricos
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark d-block" (click)="toggleCollapseCharts()">
                            <i class="bi bi-file-earmark-bar-graph"></i>
                            Gráficos
                            <span class="dropdown-icons">
                                <i class="bi bi-caret-down-fill" *ngIf="!isCollapsedCharts"></i>
                                <i class="bi bi-caret-up-fill"  *ngIf="isCollapsedCharts"></i>
                            </span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-auto list-unstyled sub-nav" [ngbCollapse]="!isCollapsedCharts">
                            <li class="nav-item">
                                <a class="nav-link link-dark d-block" routerLink="/reporting/grahps-price-history"
                                    [routerLinkActive]="'active'">
                                    <i class="bi bi-coin"></i>
                                    Precios históricos
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
        <!-- <nav class="sidebar card py-2 mb-4" #sidebar>
            <ul class="nav flex-column" id="nav_accordion">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Link name </a>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link" (click)="toggleCollapse()"> Submenu linkssssssssss </a>
                    <ul class="submenu collapse" [ngbCollapse]="isCollapsed">
                        <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> More menus </a>
                    <ul class="submenu collapse">
                        <li><a class="nav-link" href="#">Submenu item 4 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 5 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 6 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 7 </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Something </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Other link </a>
                </li>
            </ul>
        </nav> -->
        <div class="router-sidebar">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>