body {
    font-family: sans-serif;
}

.container {
    margin-top: 50px;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #f5f5f5;
    z-index: 100;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.sidebar a:hover {
    background-color: #e5e5e5 !important;
}

.sidebar a:active {
    background-color: #e5e5e5 !important;
}

.content {
    width: 100%;
    margin-left: 200px;
}

.sidebar .nav-link.dropdown-toggle {
    cursor: pointer;
    border-radius: 0.25rem;
    border-color: #e5e5e5;
    border-width: 1px;
    padding: 5px 10px;
}

.sidebar .nav-link.dropdown-toggle:hover {
    background-color: #f5f5f5 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff !important;
}

.sidebar .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0.25rem;
    border-color: #e5e5e5;
    border-width: 1px;
    background-color: #fff;
}

.sidebar .dropdown-item {
    padding: 5px 10px;
    font-size: 14px;
}

.router-sidebar{
    margin-left: 250px;
    width: 100%;
    padding: 25px;
}

.nav-item{
    margin: 3px 0
}

.sub-nav{
    margin-left: 10px;
}

.dropdown-icons{
    margin-left: 15px;
}