<spinner *ngIf="isLoading"></spinner>

<div class="container-fluid mt-5 d-flex justify-content-center">
  <form [formGroup]="filterFom">
    <div class="row mb-2">
      <div class="col-md-6">
        <label for="productName" class="form-label">Nombre:</label>
        <select class="form-select" id="selectProduct" formControlName="name">
          <option *ngFor="let prod of listProduct" [value]="prod.name">{{prod.name}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="chart" class="form-label">Tipo:</label>
        <select class="form-select" id="selectProduct" formControlName="chart">
          <option *ngFor="let chart of listCharts" [value]="chart.value"> {{chart.name}} </option>
        </select>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-6">
        <label for="startDate" class="form-label">Inicio:</label>
        <input
          [class.is-invalid]="filterFom.get('startDate')?.invalid && (filterFom.get('startDate')?.dirty|| filterFom.get('startDate')?.touched)"
          type="date" id="startDate" formControlName="startDate" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="endDate" class="form-label">Fin:</label>
        <input type="date" id="endDate" formControlName="endDate" class="form-control">
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary  m-2 " (click)="showGraphs()">Generar</button>
      <button type="button" class="btn btn-secondary  m-2 " (click)="clean()">Limpiar</button>
    </div>
  </form>
</div>

<div class="container-fluid">
  <canvas id="myChart"></canvas>
</div>