<section class="content">
  <div class="container-fluid">
    <div *ngIf="purchaseProductCardFlow" class="row">
      <div class="col-lg-9">
        <h2 class="mb-0 mt-2">Orden de compra</h2>
        <hr />
        <fn-hedear-supplier></fn-hedear-supplier>
        <fn-product-card></fn-product-card>
      </div>
      <div class="col-lg-3 p-0">
        <fn-cart></fn-cart>
      </div>
    </div>

    <div *ngIf="purchaseBookingFlow" class="row">
      <div class="col-lg-12">
        <fn-booking></fn-booking>
      </div>
    </div>


    <div *ngIf="purchasePreviewFlow" class="row">
      <div class="col-lg-12">
        <fn-preview></fn-preview>
      </div>
    </div>
    <!-- <div>
      <fn-list></fn-list>
    </div> -->
  </div>

</section>


