<div class="container">
  <h1 class="h1">Roles</h1>
  <div class="mb-3">
    <label for="areaFilter" class="form-label">Filtrar por Área:</label>
    <select id="areaFilter" class="form-select" (change)="filterRoles()">
      <option value="" selected>Todos</option>
      <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
    </select>
  </div>  
  <table class="table container">
    <thead>
      <tr>
        <th scope="col" class="text-right col-2">Nombre de Rol</th>
        <th scope="col" class="text-right col-2">Nombre de Área</th>
        <th scope="col" class="text-left col-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of filteredRoles">
        <td class="text-right">{{ role.name }}</td>
        <td class="text-right">{{ role.area }}</td>
        <td class="text-left">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="dropdown-content">
              <a (click)="onOptionClick('info', role)">Más información</a>
              <a (click)="onOptionClick('create', role)">Crear</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
