<button class="btn btn-lg btn-outline-primary" (click)="show = show == true ? false : true">Mostrar Lista Roles</button>
<hr>
<div *ngIf="show" class="container">
    <div class="row">
        <div class="col input-group">
			<input type="text" name="name" id="name" class="form-control" required="" />
            <div class="input-group-append">
                <span class="input-group-text">
                  <i class="bi bi-search"></i>
                </span>
            </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" (click)="openAdd()">Agregar</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Area</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
        </tbody>
    </table>
</div>