<spinner *ngIf="isLoading"></spinner>
<div class="container-fluid mt-5">
  <form [formGroup]="filterForm" class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <label for="startDate">Inicio:</label>
        <input type="date" id="startDate" formControlName="startDate" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="endDate">Fin:</label>
        <input type="date" id="endDate" formControlName="endDate" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="">Nombre:</label>
        <select class="form-select" id="selectProduct" formControlName="idProduct">
          <option *ngFor="let prod of listProduct" [value]="prod.idProduct">{{prod.name}}</option>
        </select>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button type="button" (click)="clean()" class="btn btn-primary">Limpiar</button>
      </div>
    </div>
  </form>
  <!-- Resto del código -->
  <div class="row">
    <div class="col-md-11">
      <table class="table" #content>
        <thead>
          <tr>
            <th class="nameColumn" (click)="sortTable()">
              Nombre
              <i class="bi" [ngClass]="{'bi-arrow-up': sortOrder, 'bi-arrow-down': !sortOrder}"></i>
            </th>
            <th scope="col">Precio</th>
            <th scope="col">Inicio Precio</th>
            <th scope="col">Fin Precio</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let report of reports; index as i"> -->
          <tr *ngFor="let item of listPriceHistory">
            <td style="max-width: 15ch; word-wrap: break-word;">{{item.name}}</td>
            <td>{{item.unitPrice}}</td>
            <td>{{item.startDate | date:'dd/MM/yyyy'}}</td>
            <td>
              <ng-container *ngIf="item.endDate!=null;else noContent"> {{item.endDate | date:'dd/MM/yyyy'}}
              </ng-container>
              <ng-template #noContent>
                ----
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container mt-4">
        <ngb-pagination class="d-flex justify-content-center" [(page)]="currentPage" [pageSize]="itemsPerPage"
          [collectionSize]="totalItems" [maxSize]="5" [rotate]="true" (pageChange)="handlePagination($event)">
        </ngb-pagination>
      </div>
    </div>
    <div class="col-md-1">
      <div ngbDropdown container="body">
        <button type="button" class="btn btn-sm btnDropdown btn-success" ngbDropdownToggle>
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div ngbDropdownMenu>
          <i ngbDropdownItem class="bi bi-file-earmark-pdf-fill" (click)="downloadPDF()" style="color: red;"></i>
          <i ngbDropdownItem class="bi bi-file-earmark-excel-fill" (click)="downloadCSV()" style="color: green;"></i>
        </div>
      </div>
    </div>
  </div>
</div>