<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FerNorte</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" *ngIf="isLogged()">
        <a class="nav-link" href="#" routerLink="/catalog" routerLinkActive="active" [ngClass]="{ 'disabled-link': getRole() !== 'Catalogo' }">Catálogo</a>
        <a class="nav-link" href="#" routerLink="/customer" routerLinkActive="active" [ngClass]="{ 'disabled-link': getRole() !== 'Administración' }">Clientes</a>
        <a class="nav-link" href="#" routerLink="/purchase" routerLinkActive="active" [ngClass]="{ 'disabled-link': getRole() !== 'Compras' }">Compras</a>
        <a class="nav-link" href="#" routerLink="/inventory" routerLinkActive="active" [ngClass]="{ 'disabled-link': getRole() !== 'Inventario' }">Inventario</a>
        <a class="nav-link" href="#" routerLink="/sales" routerLinkActive="active" [ngClass]="{ 'disabled-link': getRole() !== 'Ventas' }">Ventas</a>
      </div>
    </div>       
  </div>
</nav>
<router-outlet></router-outlet>
