<div class="container">

  <div class="containter">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" [routerLink]="['/locations-product']" routerLinkActive="active"
              href="#">Ubicar Producto</a>
            <a class="nav-link" [routerLink]="['/search-movements']" routerLinkActive="active">Consultar Movimientos</a>
            <a class="nav-link" [routerLink]="['/consult-receptions']" routerLinkActive="active">Consultar ordenes</a>

            <a class="nav-link" [routerLink]="['/reception-orders']" routerLinkActive="active">Ordenes de Recepcion</a>
            <a class="nav-link" [routerLink]="['/storage-tickets']" routerLinkActive="active">Tickets de
              Almacenamiento</a>
            <a class="nav-link" [routerLink]="['/current-inventory']" routerLinkActive="active">Inventario Actual</a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>