<div class="spinner-overlay" *ngIf="loader">
    <div class="spinner">
        <!-- Aquí puedes personalizar tu spinner, por ejemplo, usando una animación CSS o una biblioteca de iconos -->
        <div class="spinner-icon"></div>
    </div>
</div>
<!-- Orden de venta
    En esta pantalla podemos visualizar el turno en el que estamos, si ya lo atendimos le damos al botón
    "Atender Turno". Le pedimos el nombre al cliente para buscarlo y/o cargarlo.
    Usamos el botón "Consultar Productos" el cual abrirá un popup donde buscaremos un producto, elegimos los que
    queremos agregando también la cantidad solicitada por el cliente. A medida que vamos seleccionando productos se
    va a ir modificando el subtotal en relación a los precios. Si se decide no seguir con la compra podemos eliminar
    la selección de productos. Así como también al pulsar el botón "Cargar Productos", dichos productos seleccionados
    se agregarán a la grilla de productos de la pantalla de Orden de Venta.
    Al tener en la grilla todos los productos requeridos por el cliente podemos ver el subtotal, los impuestos
    y el total. A partir de esto podemos generar el presupuesto o la orden de venta para proceder al momento de
    facturación.
    Por otro lado, al usar el botón "Cargar Presupuesto" podemos visualizar todos los datos cargados anteriormente
    y guardados en el sistema al momento de generar el presupuesto para poder continuar con el proceso de venta.
    Si recibimos alguna sugerencia del cliente, abrimos el pop up de sugerencias al clickear el boton "Sugerencias"-->

<body style="background-color: #edf2f9 !important;">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-6">
                <div class=" card p-2 m-1" style="background-color: #54cbec;">
                    <div class="row p-0">
                        <div class="col-3 d-flex align-items-center" style="display: -webkit-inline-box;">
                            <img src="MicrotechLogo.png" style="width: 100px;">
                            <h5 class="ps-2">Ventas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class=" card p-2 m-1">
                    <div class="row justify-content-around">
                        <div class="col-3 pt-3" style="display: -webkit-inline-box;">
                            <i class="fa-sharp fa-solid fa-ticket fa-lg pe-2"></i>
                            <h5>Turno actual: 5</h5>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-warning">
                                <i class="fa-solid fa-arrow-right fa-xl"></i>
                                <br>
                                <p class="m-0">Atender Turno</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" card p-2 m-1">
                    <div class="row justify-content-around">
                        <div class="col-3 pt-2" style="display: -webkit-inline-box;">
                            <i class="fa-solid fa-user me-2"></i>
                            <h5>Cliente actual: Lionel Messi</h5>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                <br>
                                <p class="m-0" style="size: 2px;">Buscar cliente</p>
                            </button><button class="btn btn-success">
                                <i class="fa-solid fa-user-plus fa-lg"></i>
                                <br>
                                <p class="m-0">Cargar cliente</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <!-- Selector y buscador de productos -->
                <div class=" card p-2 m-1">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">ver productos</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" *ngFor="let item of listProductfiltrada"
                                    (click)="selectProduct(item)">{{item.nombre}}</a>
                            </li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button"
                            (change)="filtrarProductos($event)" [(ngModel)]="productoSeleccionado.nombre">
                        <div class="input-group-append">
                            <button class="btn btn-info" (click)="agregarProducto()">
                                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                <br>
                                <p class="m-0">Agregar Productos</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" card p-2 m-1">
                    <!-- Selector de clientes y botón para cargar presupuesto -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ingresar numero de presupuesto...">
                        <div class="input-group-append">
                            <button class="btn btn-success">
                                <i class="fa-solid fa-file-import fa-lg"></i>
                                <br>
                                <p class="m-0">Cargar Presupuesto</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class=" card p-2 m-1">
                    <!-- Tabla de productos -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Precio Unitario</th>
                                <th>Cantidad</th>
                                <th>Precio Total</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se agregarán las filas de la tabla dinámicamente -->

                            <tr *ngFor="let item of carrito">
                                    <td>{{item.codigo}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>${{item.precioUnitario}}</td>
                                    <td>                                       
                                        <input #controlCantidad="ngModel" [(ngModel)]="item.cantidadSeleccionado == undefined ? 1 : item.cantidadSeleccionado" [ngModelOptions]="{standalone: true}" type="number"
                                            class="form-control" id="cantidad" placeholder="cantidad" required
                                            [maxlength]="item.cantidad"
                                            max-length-message="La cantidad no puede exceder el valor máximo" 
                                            autocomplete="off" (change)="ActualizarTotal()">                                            
                                        <div  *ngIf="controlCantidad.value > item.cantidad" style="color: red" >
                                            no puede superar al stock
                                        </div>
                                    </td>
                                    <td>${{controlCantidad.value | calcularTotal:item.precioUnitario}}
                                    </td>
                                    <td><button class="btn btn-outline-danger" type="button" (click)="deleteProduct(item.codigo)">❌</button></td>
                                <th><i class="fa-solid fa-xmark fa-xl"></i></th>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-end align-items-center">

            <div class="col-7">
                <div class=" card p-2 m-1">
                    <div class="col-12 d-flex justify-content-around">
                        <button class="btn btn-success" onclick="openSugerencias()">
                            <i class="fa-solid fa-message fa-xl"></i>
                            <br>
                            <p class="m-0">Sugerencias</p>
                        </button>
                        <button class="btn btn-primary" (click)="generateSaleOrder(typePresupuesto)">
                            <i class="fa-solid fa-file-circle-plus fa-xl"></i>
                            <br>
                            <p class="m-0">Generar Presupuesto</p>
                        </button>
                        <button class="btn btn-danger" (click)="generateSaleOrder(typeSalesOrder)">
                            <i class="fa-solid fa-file-invoice fa-xl"></i>
                            <br>
                            <p class="m-0">Generar Orden</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" card p-2 m-1">
                    <!-- Resumen de la venta -->
                    <div class="text-center">
                        <p>Subtotal: ${{montoTotal.subTotal}}</p>
                        <p>Impuestos: ${{montoTotal.subTotal | calcularImpuestos:montoTotal.impuesto}}</p>
                        <p class="mb-0">Total: ${{montoTotal.subTotal | calcularMontoTotal:montoTotal.impuesto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>