<!-- payment-method-nav.component.html -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h2>Métodos de pago</h2>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'Metodos'" (click)="toMethods('Metodos')"
            aria-current="page">Métodos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'Register'" (click)="toRegisterMethod('Register')"
            aria-current="page">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'Deleted'" (click)="toDeletedMethod('Deleted')"
            aria-current="page">Borrados</a>
        </li>
      </ul>
    </div>

    <div class="centered-content">
      <fn-payment-method *ngIf="activeTab === 'Metodos'"></fn-payment-method>
      <fn-payment-method-register *ngIf="activeTab === 'Register'"></fn-payment-method-register>
      <fn-payment-method-deleted *ngIf="activeTab === 'Deleted'"></fn-payment-method-deleted>
    </div>
  </div>
</section>
