<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h2>Métodos de pago</h2>
      </div>
      <br>
      <br>
      <!-- <div class="">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" [class.active]="activeTab === 'buscar'" (click)="toSearch('buscar')" aria-current="page" href="#">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'Registrar'" (click)="toRegist('Registrar')">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'Modificar'" (click)="toUpdate('Modificar')" href="#">Modificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'Eliminar'" (click)="toDelete('Eliminar')" >Eliminar</a>
          </li>
        </ul>
      </div> -->
      

    </div>
  </div>  
  <div class="">
    <fn-payment-method></fn-payment-method>
  </div>
  
</section>