<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h2>Métodos de pago</h2>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" [class.active]="activeTab === 'Metodos'" (click)="toMethods('Metodos')"
            aria-current="page" >Métodos</a>
        </li>
      </ul>
    </div>


    <div class="centered-content">
      <fn-payment-method></fn-payment-method>
    </div>
  </div>
</section>