<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Registrar Cliente</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form #customerForm="ngForm"  (ngSubmit)="onSubmitForm(customerForm)">

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="onChangeCompany(false)" >
                    <label class="form-check-label" for="flexRadioDefault1">
                      Persona
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="onChangeCompany(true)">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Empresa
                    </label>
                  </div>
				  <div class="text-danger" *ngIf="!isTypeChecked"> Seleccione el tipo del cliente</div>
            </div>
			
            <div *ngIf="!isCompany">
                <div class="mb-3 d-flex">
                    <div class="flex-grow-1 me-2">
                        <label for="name">Nombre</label>
                        <input required [(ngModel)]="customer.firstName" type="text" name="name" id="name" class="form-control" />
                    </div>
                    <div class="flex-grow-1">
                        <label for="lastName">Apellido</label>
                        <input required [(ngModel)]="customer.lastName" type="text" name="lastName" id="lastName" class="form-control"/>
                    </div>
                </div>
            </div>

            <div *ngIf="isCompany">
                <div class="mb-3 d-flex">
                    <div class="flex-grow-1 me-2">
                        <label for="name">Nombre de Empresa</label>
                        <input required [(ngModel)]="customer.companyName" type="text" name="companyName" id="companyName" class="form-control"/>
                    </div>
                </div>
            </div>

			<div class="mb-3 d-flex">
				<div class="flex-grow-1 me-2">
					<label for="documentType">Tipo de documento</label>
					<select [(ngModel)]="customer.documentType" name="documentType" id="documentType" class="form-select" required #controlDocumentType="ngModel">
						<option value=1>DNI</option>
						<option value=2>Pasaporte</option>
					</select>
					<div class="text-danger" *ngIf="controlDocumentType.invalid">Seleccione un tipo de documento</div>
				</div>
				<div class="flex-grow-1">
					<label for="documentNumber">Documento</label>
					<input required [(ngModel)]="customer.documentNumber"  type="text" name="documentNumber" id="documentNumber" class="form-control" #controlDocumentNumber = "ngModel"/>
					<div class="text-danger" *ngIf="controlDocumentNumber.invalid && controlDocumentNumber.touched">Ingrese numero de documento de cliente</div>

				</div>
			</div>

            <div class="flex-grow-1 me-2">
                <label for="ivaCondition">Condición de IVA</label>
                <select [(ngModel)]="customer.ivaCondition" name="ivaCondition" id="ivaCondition" class="form-select" required #controlIvaCondition="ngModel">
                    <option value="Monotributo">Monotributo</option>
                    <option value="Responsable Inscripto">Responsable Inscripto</option>
                </select>
				<div class="text-danger" *ngIf="controlIvaCondition.invalid">Seleccione condicion de IVA</div>
            </div>

			<div class="mb-3">
				<label for="dateOfBirth">Fecha de nacimiento</label>
				<div class="input-group">
					<input
					required
					[(ngModel)]="customer.birthDate" 
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
						required
						#controlBirthDate = "ngModel"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button><br>
					<div class="text-danger" *ngIf="controlBirthDate.invalid && controlBirthDate.touched">Ingrese una fecha de nacimiento</div>
                </div>

                
			</div>

			<div class="flex-grow-1">
				<label for="email">Email Personal</label>
				<input [(ngModel)]="customer.email" 
					   type="email" 
					   name="email" 
					   id="email" 
					   class="form-control" 
					   required
					   #controlCustomerMail="ngModel"
				/>
				<div class="text-danger" *ngIf="controlCustomerMail.invalid && controlCustomerMail.touched">Ingrese el mail del cliente</div>
			  </div>

			<div class="mb-3 d-flex">
				<div class="flex-grow-1 me-2">
				  <label for="address">Domicilio</label>
				  <input [(ngModel)]="customer.address" type="text" name="address" id="address" class="form-control" required #controlCustomerAdress="ngModel"/>
				  <div class="text-danger" *ngIf="controlCustomerAdress.invalid && controlCustomerAdress.touched">Ingrese la direccion del cliente</div>
				</div>
				<div class="flex-grow-1">
				  <label for="phoneNumber">Número de teléfono</label>
				  <input [(ngModel)]="customer.phoneNumber" type="number" name="phoneNumber" id="phoneNumber" class="form-control" required #controlPhoneNumber ="ngModel"/>
				  <div class="text-danger" *ngIf="controlPhoneNumber.invalid && controlPhoneNumber.touched">Ingrese el numero de telefono del cliente </div>
				</div>
			  </div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" [disabled]="!customerForm.valid" (click)="modal.close(customerForm)">Registrar</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Registrar Cliente</button>

<hr />

