<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
  <div class="modal-header">
    <h3>{{isEdit ? 'Editar descuento' : 'Nuevo descuento'}} </h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="ngbModal.dismissAll()"></button>
  </div>
  <form [formGroup]="formGroup" class="mt-2">
    <div class="row">
      <div class="mb-3 col-md-8" style="display: flex; flex-direction: column; justify-content: end;">
        <label for="selectProduct" class="form-label">Producto</label>
        <select class="form-select" id="selectProduct" formControlName="idProduct">
          <option value="0">Seleccionar producto</option>
          <option *ngFor="let prod of listProducts" [value]="prod.idProduct">{{prod.name}}</option>
        </select>
      </div>

      <div class="mb-3 col-md-4">
        <label for="inputDiscountRate" class="form-label">Porcentaje de descuento</label>
        <div class="input-group">
          <input type="text" class="form-control" id="inputDiscountRate" formControlName="discountRate">
          <span class="input-group-text">%</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6 col-lg-6">
        <label for="inputDiscountStartDate" class="form-label">Inicio del descuento</label>
        <input type="date" class="form-control" id="inputDiscountStartDate" formControlName="startDate" [min]="today">
      </div>

      <div class="mb-3 col-md-6 col-lg-6">
        <label for="inputDiscountEndDate" class="form-label">Fin del descuento</label>
        <input type="date" class="form-control" id="inputDiscountEndDate" formControlName="endDate" [min]="today">
      </div>
    </div>

    <div class="row">
      <div class="col-12 buttons-container text-end">
        <button type="button" class="btn btn-secondary m-1" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="formGroup.invalid">Guardar</button>
      </div>
    </div>
  </form>
</div>

<spinner *ngIf="isLoading"></spinner>
