<div class="container">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-2 col-xs-2">
                <h3>{{isEdit?'Editar descuento':'Agregar descuento'}} </h3>
            </div>
        </div>

        <div class="row">

            <div class="mb-3 col-md-6">
                <label for="selectProduct" class="form-label">Producto</label>
                <select class="form-select" id="selectProduct" formControlName="id_product">
                    <option *ngFor="let prod of listProducts" [value]="prod.id_product">{{prod.name}}</option>
                </select>
            </div>

            <div class="mb-3 col-md-4">
                <label for="inputDiscountRate" class="form-label">Porcentaje de descuento</label>
                <input type="text" class="form-control" id="inputDiscountRate" formControlName="discount_rate">
            </div>
        </div>


        <div class="row">
            <div class="mb-3 col-md-4 col-lg-4">
                <label for="inputDiscountStartDate" class="form-label">Inicio del descuento</label>
                <input type="date" class="form-control" id="inputDiscountStartDate" formControlName="start_date">
            </div>

            <div class="mb-3 col-md-4 col-lg-4">
                <label for="inputDiscountEndDate" class="form-label">Fin del descuento</label>
                <input type="date" class="form-control" id="inputDiscountEndDate" formControlName="end_date">
            </div>


        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 buttons-container">
                <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
            </div>
        </div>

    </form>
</div>

<spinner *ngIf="isLoading"></spinner>