.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
/*     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; */
}

.row {
    margin-bottom: 10px;
}

label {
    color: #555;
}


.btn-secondary {
    background-color: #888;
    border-color: #888;
    margin-right: 16px;
}



.btn-secondary:hover {
    background-color: #666;
    border-color: #666;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}