<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-2 col-xs-2">
                <h3>Agregar descuento </h3>
            </div>
        </div>

        <div class=" row">

            <div class="mb-3 col-md-6">
                <label for="selectProduct" class="form-label">Producto</label>
                <select class="form-select" id="selectProduct">
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            </div>

            <div class="mb-3 col-md-4">
                <label for="inputDiscountRate" class="form-label">Procentaje de descuento</label>
                <input type="text" class="form-control" id="inputDiscountRate">
            </div>
        </div>


        <div class="row">
            <div class="mb-3 col-md-4 col-lg-4">
                <label for="inputDiscountStartDate" class="form-label">Inicio del descuento</label>
                <input type="date" class="form-control" id="inputDiscountStartDate">
            </div>

            <div class="mb-3 col-md-4 col-lg-4">
                <label for="inputDiscountEndDate" class="form-label">Fin del descuento</label>
                <input type="date" class="form-control" id="inputDiscountEndDate">
            </div>


        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 buttons-container">
                <button type="submit" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </form>
</div>