<div class="content position-relative">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0 mt-2">Proveedores</h2>
      <button class="btn btn-primary" (click)="openModalNewSupplier()">
        Agregar
      </button>
    </div>
    <hr />
    <div class="d-flex align-items-center gap-4">
      <input
        type="text"
        placeholder="Buscar..."
        class="form-control w-25 mt-2 mb-2"
        #buscar
        (input)="filterSuppliers(buscar.value)"
      />
      <div class="w-25 d-flex align-items-center gap-2">
        <div>Mostrar</div>
        <select
          class="form-select form-select-sm w-100"
          aria-label=".form-select-lg example"
          [(ngModel)]="showValue"
          (change)="loadSuppliers()"
        >
          <option value="1">Todos</option>
          <option value="2" selected>Activos</option>
          <option value="3">Inactivos</option>
        </select>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Razon Social</th>
          <th scope="col">Nombre Fantasia</th>
          <th scope="col">Cuit</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of filteredSuppliers
              | slice : (page - 1) * pageSize : page * pageSize
          "
        >
          <td>{{ item.socialReason }}</td>
          <td>{{ item.fantasyName }}</td>
          <td>{{ item.cuit }}</td>
          <td>{{ item.address }}</td>
          <td>
            <svg
              *ngIf="item.active"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#008000"
              class="bi bi-check2-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
              />
              <path
                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
              />
            </svg>
            <svg
              *ngIf="!item.active"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#FF0000"
              class="bi bi-x-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                ⋮
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  ngbDropdownItem
                  (click)="openModal(item.id)"
                  *ngIf="item.active"
                >
                  Contacto
                </button>
                <button
                  ngbDropdownItem
                  routerLink="/supplier/products"
                  (click)="openProducts(item.id)"
                  *ngIf="item.active"
                >
                  Productos
                </button>
                <button ngbDropdownItem *ngIf="item.active">Editar</button>
                <button
                  ngbDropdownItem
                  *ngIf="item.active"
                  [swal]="{
                    title: '¿Estas seguro?',
                    showCancelButton: true,
                    reverseButtons: true
                  }"
                  (confirm)="deleteSupplier(item.id)"
                >
                  Eliminar
                </button>
                <button
                  ngbDropdownItem
                  *ngIf="!item.active"
                >
                  Recuperar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="suppliers.length"
        (pageChange)="onPageChange($event)"
        aria-label="Default pagination"
      ></ngb-pagination>
    </div>
  </div>
</div>
