<div>
  <h2 class="title">Registrar ordenes de recepción</h2>
  <div class="add-product">
    <div class="add-product-form-container">
      <form #addProduct="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre de producto</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="actualDetail.name"
            #productNameField="ngModel" required
            [ngClass]="{'is-invalid':productNameField.invalid && productNameField.touched}">
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Cantidad a almacenar</label>
          <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="actualDetail.quantity"
            #quantityField="ngModel" required [ngClass]="{'is-invalid':quantityField.invalid && quantityField.touched}">
        </div>
        <div class="mb-3">
          <label for="deliveryDate" class="form-label">Fecha de llegada</label>
          <input type="date" class="form-control" id="deliveryDate" name="deliveryDate"
            [(ngModel)]="actualDetail.deliveryDate" #delivreyDateField="ngModel" required
            [ngClass]="{'is-invalid':delivreyDateField.invalid && delivreyDateField.touched}">
        </div>
        <div class="mb-3">
          <label for="deliveryTime" class="form-label">Hora de llegada</label>
          <input type="time" class="form-control" id="deliveryTime" name="deliveryTime"
            [(ngModel)]="actualDetail.deliveryTime" #delivreyTimeField="ngModel" required
            [ngClass]="{'is-invalid':delivreyTimeField.invalid && delivreyTimeField.touched}">
        </div>
        <button class="btn btn-primary">AGREGAR</button>
      </form>
    </div>
    <div class="add-product-list"></div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Dia</th>
          <th scope="col">Hora</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list-item">
          <td>22/10/2023</td>
          <td>10:30 am</td>
          <td>Destornillador</td>
          <td>10</td>
          <td>
            <button class="btn btn-primary  mx-1">Modificar</button>
            <button class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons">
    <button class="btn btn-danger">Cancelar</button>
    <button class="btn btn-primary">Generar Ordenes</button>
  </div>
</div>