<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of allProducts; let i = index"
        [ngClass]="{ 'red-text': isProductInBothLists(item) }"
      >
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
