<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id Usuario</th>
                <th>Documento Empleado</th>
                <th>Id Email</th>
                <th>Nombre de Usuario</th>
                <th>Contraseña de Usuario</th>
                <th>Activo</th>
                <th>Reset de Contraseña</th>
                <th>Primer Login</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id_user }}</td>
                <td>{{ user.employee_documentNumber }}</td>
                <td>{{ user.email.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.user_password }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.password_reset }}</td>
                <td>{{ user.first_login }}</td>
                <td>
                    <button type="button" class="btn btn-success" [disabled]="!user.is_active"
                        (click)="activateCustomer(user.id_user)">
                        Activar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteCustomer(user.id_user)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
