<div class="text-center">
  <h1>Inventario actual</h1>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Zona" [(ngModel)]="filterZone">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Sección" [(ngModel)]="filterSection">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Zona</th>
        <th scope="col">Seccion</th>
        <th scope="col">Espacio</th>
        <th scope="col">Cantidad actual</th>
        <th scope="col">Maxima capacidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let locationInfo of filteredList">
        <td>{{ locationInfo.product_name }}</td>
        <td>{{ locationInfo.location.zone }}</td>
        <td>{{ locationInfo.location.section }}</td>
        <td>{{ locationInfo.location.space }}</td>
        <td>{{ locationInfo.quantity }}</td>
        <td>{{ locationInfo.max_capacity }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="downloadPDF()">Exportar PDF</button>
  <canvas id="myChart" style="position: absolute; left: -9999px;"></canvas>

</div>