<section class="content d-flex align-items-center justify-content-center">
    <div class="card border-primary mb-3" style="width: 18rem;">
        <div class="card-header">
          <strong>Totales</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total a pagar: {{total | currency}}</li>
          <li class="list-group-item">Efectivo: {{cash | currency}}</li>
          <li class="list-group-item">Débito: {{debit | currency}}</li>
          <li class="list-group-item">Crédito: {{credit | currency}}</li>
        </ul>
      </div>
</section>
