<section class="content">
  <fn-total-resume [total]="totals.total" [cash]="totals.cash" [debit]="totals.debit" [credit]="totals.credit"></fn-total-resume>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Monto</th>
        <th scope="col" class="w-50">Observación</th>
        <th scope="col">Método de pago</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <th scope="row">1</th>
        <td>Orden</td>
        <td>
          <div ngbDropdown container="body">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              ngbDropdownToggle
            >
              Metodos
            </button>
            <div ngbDropdownMenu>
              <option ngbDropdownItem>Debito</option>
              <div class="dropdown-divider"></div>
              <option ngbDropdownItem>Credito</option>
              <div class="dropdown-divider"></div>
              <option ngbDropdownItem>Efectivo</option>
            </div>
          </div>
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>
            <select 
            class="form-select border border-primary" 
            name="opcion" 
            [(ngModel)]="idSelected"
            (ngModelChange)="'onSelectChange($event)'">
            <option 
            *ngFor="let item of supplierList"
            [value]="item.id"
            >
              {{'item.socialReason'}}
            </option>
            </select>
        </td>
      </tr> -->
      <tr *ngFor="let paymentDetail of paymentOrderDetails">
        <th scope="row">{{paymentDetail.purchaseOrderId}}</th>
        <td>{{paymentDetail.amount}}</td>
        <td>{{paymentDetail.observation}}</td>
        <td>
          <select class="form-select" name="paymentMethod" id="paymentMethod" [(ngModel)]="paymentDetail.paymentMethod" required (change)="calculateTotals()">
            <option value="CASH">Efectivo</option>
            <option value="DEBIT">Débito</option>
            <option value="CREDIT">Crédito</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</section>
