<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2>Cargar Nuevo Pago</h2>
          </div>
          <div class="card-body">
            <form #paymentForm="ngForm" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="amount">Monto del Pago:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" id="amount" class="form-control" name="amount" [(ngModel)]="payment.amount" required>
                  <div class="invalid-feedback">
                    Por favor, ingresa un monto válido.
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label for="invoiceNumber">Número de Factura:</label>
                <input type="text" id="invoiceNumber" class="form-control" name="invoiceNumber" [(ngModel)]="payment.invoiceNumber" required>
                <div class="invalid-feedback">
                  Por favor, ingresa un número de factura.
                </div>
              </div>
  
              <div class="form-group">
                <label for="paymentMethod">Forma de Pago:</label>
                <select id="paymentMethod" class="form-control" name="paymentMethod" [(ngModel)]="payment.paymentMethod" required>
                  <option disabled value="">Selecciona una opción</option>
                  <option value="Efectivo">Efectivo</option>
                  <option value="Tarjeta">Tarjeta</option>
                  <option value="Transferencia">Transferencia</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona una forma de pago.
                </div>
              </div>
  
              <button type="submit" class="btn btn-primary btn-block mt-2 container">Registrar Pago</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
