.right-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 20vw;
    right: 0;
  }
  
 .header {
    text-align: center;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .margin {
    margin: 1vh 0;
    margin-bottom: auto;
  }
  
  .item {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .prod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
  }

  .bottom {
    margin-top: 2vh;
  }