.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.btn {
  float: right;
}

.name-column {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center {
  display: flex;
  justify-content: start;
}

.acciones-col {
  width: auto !important;
}

.nameColumn {
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .table-header .form-group {
    margin-bottom: 10px;
  }
}