<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre de Producto</th>
        <th>Imagen</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProducts  | slice: (currentPage-1) * itemsPerPage : currentPage * itemsPerPage">
        <td>{{ product.name }}</td>
        <td>
          <img [src]="product.urlImage" alt="Imagen del producto" height="50" />
        </td>
        <td>{{ product.stockQuantity }}</td>
        <td>{{ product.unitPrice | currency:'USD':'symbol-narrow' }}</td>
        <td>{{ product.category.name }}</td>
        <td>
          <button type="submit" class="btn btn-primary mx-2">Editar</button>
          <button type="submit" class="btn btn-danger mx-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <ngb-pagination
    [(page)]="currentPage"
    [pageSize]="itemsPerPage"
    [collectionSize]="listProducts.length"
    [maxSize]="5"
    [rotate]="true">
  </ngb-pagination>
</div>
