<spinner *ngIf="isLoading"></spinner>

<div class="container mt-4">
  <button class="btn btn-primary" (click)="openCreateModal()">Agregar Productos</button>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre de Producto</th>
        <th>Imagen</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProducts  | slice: (currentPage-1) * itemsPerPage : currentPage * itemsPerPage">
        <td>{{ product.name }}</td>
        <td>
          <img [src]="product.image" alt="Imagen del producto" height="50" />
        </td>
        <td>{{ product.stock_quantity }}</td>
        <td>{{ product.unit_price | currency:'USD':'symbol-narrow' }}</td>
        <td>{{ product.category.name }}</td>
        <td>
          <button type="button" class="btn btn-primary mx-2" (click)="openEditModal(product)">Editar</button>
          <button type="button" class="btn btn-danger mx-2" (click)="openDeleteModal(product)">Eliminar</button>
        </td>        
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="collectionSize" [maxSize]="5" [rotate]="true">
  </ngb-pagination>
</div>


