<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Número de Documento</th>
          <th scope="col">Tipo de Documento</th>
          <th scope="col">Más Información</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employeeList">
          <td>{{ e.firstName }}</td>
          <td>{{ e.lastName }}</td>
          <td>{{ e.documentNumber }}</td>
          <td>{{ e.documentType }}</td>
          <td>
            <button
              type="button"
              class="btn btn-light"
              
            >
            <i class="bi bi-three-dots-vertical"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  para ruteo
  <!-- [routerLink]="[e.id, 'edit']" -->
  
