<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Apellido</th>
          <th scope="col" class="text-center">Número de Documento</th>
          <th scope="col" class="text-center">Tipo de Documento</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Más Información</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employeeList">
          <td class="text-center">{{ e.firstName }}</td>
          <td class="text-center">{{ e.lastName }}</td>
          <td class="text-center">{{ e.documentNumber }}</td>
          <td class="text-center">{{ e.documentType }}</td>
          <td class="text-center">{{ e.documentType }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-light"
              
            >
            <i class="bi bi-three-dots-vertical"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  para ruteo
  <!-- [routerLink]="[e.id, 'edit']" -->
  
