<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Restablecer Contraseña</div>
                <div class="card-body">
                    <form (ngSubmit)="onFirstLogin()" #resetPasswordForm="ngForm">
                        <div class="form-group">
                            <label for="password">Nueva Contraseña</label>
                            <input type="password" id="password" class="form-control" name="password"
                                [(ngModel)]="user.password" required minlength="8"
                                [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && resetPasswordForm.invalid }">
                            <div *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls['password'].hasError('required')"
                                class="invalid-feedback">
                                Contraseña es requerida.
                            </div>
                            <div *ngIf="resetPasswordForm.controls['password'].hasError('minlength')"
                                class="invalid-feedback">
                                La contraseña debe tener al menos 8 caracteres.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>