<div class="container">
  <div class="row">
    <div class="col-md-2">
      <nav class="bg-light text-dark sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fas fa-home"></i>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-box"></i>
                Proveedores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-box"></i>
                Orden de Compra
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-users"></i>
                Orden de venta
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-users"></i>
                Orden de Reclamo
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
