

<div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <fn-customers-sidebar></fn-customers-sidebar>    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
<!-- <fn-create-customer></fn-create-customer>
<fn-create-rol></fn-create-rol>
<hr>
<fn-role-list></fn-role-list>

<fn-turns-component></fn-turns-component>
<fn-login></fn-login>
<fn-modify-user-rol></fn-modify-user-rol>
<fn-modify-user></fn-modify-user>

<fn-update-customer></fn-update-customer>

<br>
<br>
<fn-employee-list></fn-employee-list> -->
