<section class="content">
  <div class="row row-cols-4 g-2">
    <div class="col" *ngFor="let item of product_List; let i = index">
      <div class="d-flex flex-wrap">
        <div class="card" style="width: 18rem; height: 66vh;">
          <img
            src="https://th.bing.com/th?q=TALADRO+Grande&w=138&h=138&c=7&o=5&pid=1.7&mkt=es-AR&cc=AR&setlang=es&adlt=moderate"
            class="card-img-top prod-img"
            alt="{{item.name}}"
          />
          <hr style="margin: 0%" />
          <div class="card-body">
            <div class="container-fluid">
              <h5 class="card-title text-center prod-name" >{{ item.name }}</h5>
              <p class="card-text text-center prod-price"><strong>{{ item.price | currency }}</strong></p>
            </div>
            <div class="btn-toolbar prod-add">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-info btn-sm"
                  (click)="Rest(item)"
                >
                  <strong>-</strong>
                </button>
                <input
                  #controlInput="ngModel"
                  type="text"
                  class="prod-q"
                  [(ngModel)]="productQuantities[item.id_product]"
                  required
                  minlength="1"
                  maxlength="5"
                  pattern="^[0-9]+$"
                  (keypress)="onKeyPress($event)"
                  />
                <button
                  type="button"
                  class="btn btn-info btn-sm"
                  (click)="Summ(item)"
                >
                  <strong>+</strong>
                </button>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="addToCart(item)"
                  [disabled]="isButtonDisabled[item.id_product]"                  
                >
                  Agregar
                </button>
              </div>
              <ngb-toast
                style="margin: 8% 0% 0% 0%"
                *ngIf="mostrarToastAddProduct[item.id_product]"
                class="toast bg-danger text-light"
                [autohide]="true"
                (hidden)="(false)"
                [delay]="3000"
                >No se puede agregar un producto con cantidad 0
              </ngb-toast>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
                  (click)="addToCart(item.supplierId, item.productId, item.price, item.name)"
                  [disabled]="isButtonDisabled[item.productId]"
                 -->