.prod-name {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.prod-price {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-add {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-q {
    width: 3vw; 
    text-align: center;
    border-color: #5bc0de;
}
.prod-img {
    /* height: 35vh; */
}








.back {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }

  .border {
    border: 2px solid #000000;
  }