<div class="content">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Agregar productos a {{ selectedSupplier.socialReason }}</h1>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products; let i = index" >
          <td>{{ item.name }}</td>
          <td>
            $ {{item.price || '0'}}
          </td>
          <td>
            <button class="btn btn-primary" *ngIf="!item.price" (click)="openModal(item.id_product)">
              Agregar
            </button>
            <button *ngIf="item.price" class="btn btn-danger"  [swal]="{ title: '¿Estás seguro?', reverseButtons: true ,showCancelButton: true }"
              (confirm)="deleteProduct(item.id_product)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>