<h2 class="title text-center  my-4">Disponibilidad de almacenamiento</h2>
<div class="d-flex justify-content-center">
  <div class="search-form-container">
    <form #searchForm="ngForm">
      <div class="mb-3">
        <label for="product" class="form-label">Nombre o ID de producto</label>
        <input type="text" class="form-control " id="product" name="product" [(ngModel)]="product" required
          minlength="1" [ngClass]="{'is-invalid': productField.invalid && productField.touched}"
          #productField="ngModel">
      </div>

      <button type="submit" class="btn btn-primary  w-100" (click)="searchProduct(searchForm)">BUSCAR</button>
    </form>
  </div>

  <div class="info-container">
    <span class="text-center">Producto: {{productInfo.productName}}</span>
    <div class="inputs-container">
      <div class="row">
        <p>Cantidad disponible</p>
        <input class="form-control" type="text" [value]="availableQuantity" aria-label="Disabled input example"
          readonly>
      </div>
      <div class="row">
        <p>Unidad de medida</p>
        <input class="form-control" type="text" [value]="productInfo.measureUnit" aria-label="Disabled input example"
          readonly>
      </div>
      <div class="row">
        <p>Cantidad almacenada</p>
        <input class="form-control" type="text" [value]="productInfo.quantity" aria-label="Disabled input example"
          readonly>
      </div>
      <div class="row">
        <p>Categoria</p>
        <input class="form-control" type="text" [value]="productInfo.categoryName" aria-label="Disabled input example"
          readonly>
      </div>
    </div>

  </div>
</div>
<div *ngIf="loader" class="loader-container">
  <!-- <img src="../../img/loader.svg" alt="Loader"> -->
  <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#0d6efd">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s"
            repeatCount="indefinite" />
        </path>
      </g>
    </g>
  </svg>
</div>
<!-- Modal -->
<div class="modal" id="error-window" [ngStyle]="{display: showModal ? 'block':'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        El producto ingresado no existe
      </div>
    </div>
  </div>
</div>