<div class="container">
  <h2 class="text-center">ORDENES DE PAGO</h2>
  <section class="container-fluid">
    <div class="row" *ngIf="showDropDown">
      <h5 class="col-sm-4 col-form-label">
        Seleccione un proveedor:
      </h5>
      <div class="col-sm-6">
        <select id="supplierSelect" class="form-control" [(ngModel)]="selectedSupplierId" (change)="onSupplierSelected()">
        <option *ngFor="let supplier of allSupplierList" [value]="supplier.id">{{supplier.socialReason}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="showSelectSupplier()"
        >
          Seleccionar
        </button>
      </div>
    </div>
</section>
<hr />
  <table class="table table-bordered table-striped mt-4">
    <thead>
      <tr>
        <th>Fecha</th>
        <th class="w-25">Observación</th>
        <th>Total</th>
        <th class="w-25">Factura</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of allPurchaseOrder">
        <td>{{order.date | date:'dd/MM/yyyy'}}</td>
        <td>{{order.observation}}</td>
        <td>{{order.total | currency}}</td>
        <td>
          <a [href]="order.billUrl" target="_blank">Link</a>
        </td>
        <td>
          <input type="checkbox" class="form-check-input" [(ngModel)]="order.selected" (change)="actualizarTotal()" />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td>{{ totalSeleccionado }}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="enviarOrdenDeCompraSeleccionada()">Pagar</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
