<spinner *ngIf="isLoading"></spinner>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Restablecer Contraseña </div>
                <div class="card-body">
                    <p>
                        Para restablecer su contraseña, por favor ingrese la dirección de correo electrónico asociada a su cuenta.
                        Enviaremos la nueva contraseña a dicha dirección de correo electrónico para que pueda iniciar sesión con facilidad.
                    </p>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" id="email" class="form-control" formControlName="email"
                            [ngClass]="{ 'is-invalid': form.get('email')?.invalid && form.get('email')?.touched }">
                            <small
                            class="invalid-feedback"
                            *ngIf="
                              !form.get('email')!.valid &&
                              form.get('email')!.touched &&
                              form.get('email')!.getError('required')
                            "
                          >
                            El correo electrónico es requerido
                          </small>
                        </div>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-secondary"(click)="onCancelar()">Cancelar</button>
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>