<div class="container-fluid">
  <div>
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Filtros
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Filtros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Seleccione sus filtros
            <form #filterForm="ngForm" (ngSubmit)="onSendFilters(filterForm)">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Documento de cliente</label>
                <input type="email" class="form-control" id="exampleInputEmail1" 
                name="doc"
                #docControl="ngModel"
                [(ngModel)]="doc">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Número de presupuesto</label>
                <input type="text" class="form-control" id="exampleInputPassword1"
                name="idOrder"
                #idOrderControl="ngModel"
                [(ngModel)]="idOrder">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Estado de presupuesto</label>
                <select class="form-control" aria-label="Default select example"
                name="stateOrder"
                #stateOrderControl="ngModel"
                [(ngModel)]="stateOrder">
                  <option value="">Creada</option>
                  <option value="Pendiente de entrega" selected>Pendiente de entrega</option>
                  <option value="">Entregada</option>
                  <option value="">Impaga</option>
                  <option value="">Cancelada</option>
                </select>
                <div class="row">
                  <div class="mb-3 col">
                    <p>Desde</p>
                    <input type="date" class="form-control" id="fromDate" 
                    placeholder=""
                    value="2023-10-10"
                    name="fromDate"
                    #fromDateControl="ngModel"
                    [(ngModel)]="fromDate">
                  </div>
                  <div class="mb-3 col">
                    <p>Hasta</p>
                    <input type="date" class="form-control" id="toDate" 
                    placeholder="10/10/2023"
                    value="2023-10-10"
                    name="toDate"
                    #toDateControl="ngModel"
                    [(ngModel)]="toDate">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aplicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Detalle</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of saleOrdersListOk">
            <th scope="row">{{item.idSaleOrder}}</th>
            <td>{{item.nameClient}}</td>
            <td>{{item.dateOfIssue | date:'short'}}</td>
            <td>{{item.stateSaleOrder | translateStates}}</td>
            <td>
                <ul>
                    <li *ngFor="let prod of item.details">
                        {{prod.name}}
                    </li>
                </ul>
            </td>
            <td class="text-center">
              <div class="dropdown">
                <button type="button" class="btn btn-light dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="dropdown-content">
                  <a (click)="onShowDetails(item,modalDetalle)">Ver detalles</a>
                  <a (click)="onPrint()">Imprimir</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #modalDetalle>
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Detalles del presupuesto Nro° {{ selectedOrder?.idSaleOrder}}</h5>
              <button type="button" class="btn-close" (click)="onCloseDetails()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><strong> Cliente:</strong> {{ selectedOrder?.nameClient }}</p>
              <p><strong> Fecha Creación:</strong> {{ selectedOrder?.dateOfIssue | date:'short' }}</p>
              <p><strong> Detalles:</strong></p>
              <ul>
                <li *ngFor="let prod of selectedOrder?.details">
                  {{ prod.name }} x {{prod.quantity}} - <strong>Precio:</strong>  {{ prod.price | currency}} 
                </li>
              </ul>
              <p><strong> Total:</strong> {{ calculateTotal(selectedOrder) | currency }}</p>
            </div>
          </div>
        </div>    
      </ng-template>
</div>