<!DOCTYPE html>
<html>
<head>
    <title>Listado de Facturas</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid rgb(8, 57, 70);
        }

        th, td {
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: black;">Listado de Facturas</h1>
    <table>
        <tr>
            <th>Número</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Factura</th>
            <th>Estado</th>
            <th>Neto</th>
            <th>IVA</th>
            <th>Total</th>
        </tr>
        <tr>
            <td><a href="factura1.html">Factura 001</a></td>
            <td>Juan Pérez</td>
            <td>2023-01-15</td>
            <td>Maria López</td>
            <td>Venta</td>
            <td>1234</td>
            <td>Pagada</td>
            <td>$500.00</td>
            <td>$75.00</td>
            <td>$575.00</td>
        </tr>
        <tr>
            <td><a href="factura2.html">Factura 001</a></td>
            <td>Carlos Rodríguez</td>
            <td>2023-02-10</td>
            <td>Luisa García</td>
            <td>Venta</td>
            <td>1235</td>
            <td>Pagada</td>
            <td>$750.00</td>
            <td>$112.50</td>
            <td>$862.50</td>
        </tr>
    
    </table>
</body>
</html>
